In [3]:
import requests
import csv
import time
import pandas as pd
import numpy as np
import math
from urllib.request import urlretrieve
import os
from pyspark.sql.types import StructType, StructField, StringType
from pyspark.sql import functions as F
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType, FloatType

In [4]:
from pyspark.sql import SparkSession
#Create a spark session (which will run spark jobs)
spark = (
    SparkSession.builder.appName("Liveability")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config('spark.driver.memory', '4g')
    .config('spark.executor.memory', '2g')
    .getOrCreate()
)

your 131072x1 screen size is bogus. expect trouble
24/10/06 04:40:05 WARN Utils: Your hostname, DESKTOP-Q5SP5SI resolves to a loopback address: 127.0.1.1; using 172.20.36.110 instead (on interface eth0)
24/10/06 04:40:05 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/06 04:40:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/10/06 04:40:14 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/10/06 04:40:14 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [5]:
df = spark.read.parquet("../data/postcodes/postcodes.parquet", header=True, inferSchema=True)

In [14]:
# Your Google Places API key
API_KEY = 'AIzaSyDKBch72s8hyaVK4GsnrOhA5AnWT4IIYXI'

# Base URL for Google Places API
url = 'https://maps.googleapis.com/maps/api/place/textsearch/json'

# Load the postcode data (Assuming the file is correctly loaded into a DataFrame)
postcodes_sdf = spark.read.parquet('../data/postcodes/postcodes.parquet')

In [5]:
# from the current directory , we create separate files for our variables
output_relative_dir = '../data/raw_variables/'
variables = ['Hospitals & Clinics', 'Schools', 'Groceries']

# check if it exists as it makedir will raise an error if it does exist
if not os.path.exists(output_relative_dir):
    os.makedirs(output_relative_dir)

In [6]:
columns = ['locality', 'state', 'long', 'lat']
postcodes_sdf = postcodes_sdf.drop(*columns)
postcodes_sdf = postcodes_sdf.dropDuplicates()
postcodes_sdf = postcodes_sdf.orderBy('postcode')

In [7]:

# Define schema for the Spark DataFrame
schema = StructType([
    StructField("Name", StringType(), True),
    StructField("Address", StringType(), True),
    StructField("Postcode", StringType(), True),
    StructField("Rating", StringType(), True),
])

In [8]:
## for testing purposes
postcodes_sdf2 = postcodes_sdf.filter(postcodes_sdf['postcode'] < 3004)

In [9]:
def get_chunks(postcodes_sdf) -> dict:
    """function that splits up postcodes into chunks of 50 so that if we are kicked halfway during scraping we don't lose too much progress
    """
    chunk_dict = {}
    i = 3000
    j = 3050
    
    while i < 3997:
        
        temp = postcodes_sdf.filter((postcodes_sdf['postcode'] >= i) & (postcodes_sdf['postcode'] < j))

        chunk_dict[f'chunk_{i}'] = temp
        j += 50
        i += 50

    return chunk_dict

chunk_dict = get_chunks(postcodes_sdf)

In [10]:
#### Scraping task 1: schools
# Iterate through all variables and initialize a temporary dataframe
from pyspark.sql.types import StructType, StructField, StringType

def variables_scrape(chunk, file_suffix):
    variables = ['Hospitals & Clinics', 'Schools', 'Groceries']
    schema = StructType([
    StructField("Name", StringType(), True),
    StructField("Address", StringType(), True),
    StructField("Postcode", StringType(), True),
    StructField("Rating", StringType(), True),])
    
    variable_metadata = spark.createDataFrame([], schema)

    postcodes_sdf.filter(postcodes_sdf['postcode'] <= 3000 + 250)
    
    for variable in variables:
        # Loop through each row in the dataframe
        for row in chunk.collect():
            postcode = row['postcode']
                
            print(f'searching for {variable} in {postcode}')
            # Define the search query using postcode
            params = {
                'query': f'{variable} in {postcode}, Victoria, Australia',
                'key': API_KEY,
                'type': {variable},
                'region': 'AU'
            }

            response = requests.get(url, params=params)
                
            # Check if the response was successful
            if response.status_code == 200:
                print(response.json())
                results = response.json().get('results', [])
                print(results)
                    
                # Write each place's details to the CSV file
                for place in results:
                    print(place)
                    address = place.get('formatted_address')
                    status = place.get('business_status')
                    
                    if (f'{postcode}' in address) & (status == 'OPERATIONAL'):
                        print('match found')
                        name = place.get('name')
                        rating = place.get('rating', 'N/A')
                        row = [(name, address, postcode, rating)]
                        row_df = spark.createDataFrame(row, schema)
                        variable_metadata = variable_metadata.union(row_df)
                    
                # Introduce a short delay to avoid hitting rate limits of the API
                time.sleep(1)  # 1-second delay between requests
            else:
                print(f"{variable}: Error fetching data for postcode {postcode}: {response.status_code}, {response.text}")
            print(f'searching for {variable} in {postcode}')

        try: 
            variable_metadata.write.mode("overwrite").parquet(f'../data/raw_variables/{variable}/{variable}_{file_suffix}.parquet')
            print(f"Data successfully written for {variable}")
        except Exception as e:
            print(f"An error occured: {e}")

In [11]:
def run_chunk(starting_chunk: int) -> None:
    """Function that scrapes domain.com.au in chunks of 25 postcodes 7 times (split amongst group members)
    
    Parameters:
    starting_chunk - starting chunk number that we want

    Return:
    None 
    """
    i = starting_chunk
    
    while i < starting_chunk + 200: 
        variables_scrape(chunk_dict[f"chunk_{i}"], i) #i.split("_")[1])
        i += 50

In [ ]:
### Davyn 
starting_chunk = 3150
run_chunk(starting_chunk)

In [ ]:
### Arpan
starting_chunk = 3000 + 200
run_chunk(starting_chunk)

In [ ]:
### Rachel
starting_chunk = 3000 + 400
run_chunk(starting_chunk)

In [ ]:
### Nathan
starting_chunk = 3000 + 600
run_chunk(starting_chunk)

In [ ]:
### Pris
starting_chunk = 3000 + 800
run_chunk(starting_chunk)

In [6]:
sdf = spark.read.parquet('../data/raw_variables/Groceries/*')
# Create new parquet of raw data
sdf \
    .coalesce(1) \
    .write \
    .mode('overwrite') \
    .parquet('../data/scraped/groceries_data.parquet')

In [18]:
sdf = spark.read.parquet('../data/raw_variables/Hospitals & Clinics/*')
# Create new parquet of raw data
sdf \
    .coalesce(1) \
    .write \
    .mode('overwrite') \
    .parquet('../data/scraped/Hospitals_&_Clinics_data.parquet')

In [19]:
sdf = spark.read.parquet('../data/raw_variables/Schools/*')
# Create new parquet of raw data
sdf \
    .coalesce(1) \
    .write \
    .mode('overwrite') \
    .parquet('../data/scraped/Schools_data.parquet')

24/10/03 22:30:06 WARN TaskSetManager: Stage 84 contains a task of very large size (1457 KiB). The maximum recommended task size is 1000 KiB.

In [23]:
sdf = spark.read.parquet('../data/scraped/Schools_data.parquet')
len(sdf.columns), sdf.count()

(4, 5606)

In [24]:
sdf = spark.read.parquet('../data/scraped/Groceries_data.parquet')
len(sdf.columns), sdf.count()

(4, 8546)

In [25]:
sdf = spark.read.parquet('../data/scraped/Hospitals_&_Clinics_data.parquet')
len(sdf.columns), sdf.count()

(4, 2059)

In [5]:
school_sdf = spark.read.parquet('../data/scraped/Schools_data.parquet')
# Group by Postcode and count the number of schools
schools_per_postcode = school_sdf.groupBy('Postcode').agg(F.count('Name').alias('School_Count'))
schools_per_postcode

+--------+------------+
|Postcode|School_Count|
+--------+------------+
|    3414|           5|
|    3959|           1|
|    3015|          10|
|    3441|           2|
|    3517|           5|
|    3858|           5|
|    3281|           2|
|    3200|           3|
|    3121|          28|
|    3249|           4|
|    3266|           7|
|    3057|           6|
|    3167|           5|
|    3898|           2|
|    3875|          33|
|    3179|           9|
|    3241|           8|
|    3786|           1|
|    3250|          28|
|    3641|           3|
+--------+------------+
only showing top 20 rows

In [6]:
groceries_sdf = spark.read.parquet('../data/scraped/groceries_data.parquet')
# Group by Postcode and count the number of groceriess
groceries_per_postcode = groceries_sdf.groupBy('Postcode').agg(F.count('Name').alias('groceries_Count'))
groceries_per_postcode

+--------+---------------+
|Postcode|groceries_Count|
+--------+---------------+
|    3414|              6|
|    3959|              1|
|    3517|             10|
|    3015|             15|
|    3441|              2|
|    3858|             10|
|    3281|              2|
|    3200|              5|
|    3121|             44|
|    3266|              9|
|    3249|              4|
|    3057|             15|
|    3167|              6|
|    3898|              5|
|    3875|             49|
|    3179|             12|
|    3241|             10|
|    3786|              1|
|    3250|             46|
|    3641|              3|
+--------+---------------+
only showing top 20 rows

In [2]:
hc_sdf = spark.read.parquet('../data/scraped/Hospitals_&_Clinics_data.parquet')
# Group by Postcode and count the number of hcs
hc_per_postcode = hc_sdf.groupBy('Postcode').agg(F.count('Name').alias('Number of Healcare'))
hc_per_postcode

NameError: name 'spark' is not defined

In [10]:
# Perform a join on Postcode column to combine all three DataFrames
combined_df = schools_per_postcode \
    .join(groceries_per_postcode, on='Postcode', how='outer') \
    .join(hc_per_postcode, on='Postcode', how='outer')

combined_df

+--------+------------+---------------+--------+
|Postcode|School_Count|groceries_Count|hc_Count|
+--------+------------+---------------+--------+
|    3000|          24|             42|       8|
|    3002|          14|             17|      10|
|    3003|           7|             14|       2|
|    3004|           7|             12|       2|
|    3006|          11|             23|       6|
|    3008|           3|              3|       1|
|    3010|           1|              1|    NULL|
|    3011|          31|             49|      14|
|    3012|           9|             14|       5|
|    3013|          14|             21|       3|
|    3015|          10|             15|       2|
|    3016|          18|             25|       5|
|    3018|          10|             15|       3|
|    3019|          14|             30|       5|
|    3020|          32|             52|      14|
|    3021|          32|             52|      17|
|    3023|          27|             43|      10|
|    3024|          16|             23|       5|
|    3025|          10|             23|       5|
|    3026|           1|              3|    NULL|
+--------+------------+---------------+--------+
only showing top 20 rows

In [13]:
# Define the UDF to get latitude and longitude from Google API
def get_geolocation(postcode):
    url = f"https://maps.googleapis.com/maps/api/geocode/json?address={postcode},Victoria,Australia&key={API_KEY}"
    response = requests.get(url)
    if response.status_code == 200:
        result = response.json()
        if result['results']:
            location = result['results'][0]['geometry']['location']
            return location['lat'], location['lng']
    return None, None

# Split the function into two UDFs: one for latitude, one for longitude
def get_latitude(postcode):
    lat, lng = get_geolocation(postcode)
    return lat

def get_longitude(postcode):
    lat, lng = get_geolocation(postcode)
    return lng

In [15]:
# Register UDFs with PySpark
get_latitude_udf = udf(get_latitude, FloatType())
get_longitude_udf = udf(get_longitude, FloatType())

# Assuming you have a DataFrame `combined_update_sdf` with a 'Postcode' column
# For example:
combined_update_sdf = combined_df

# Add latitude and longitude columns to your DataFrame
combined_update_sdf = combined_update_sdf.withColumn('Latitude', get_latitude_udf(combined_update_sdf['Postcode']))
combined_update_sdf = combined_update_sdf.withColumn('Longitude', get_longitude_udf(combined_update_sdf['Postcode']))

# Show the updated DataFrame with geolocation data
combined_update_sdf

+--------+------------+---------------+--------+----------+---------+
|Postcode|School_Count|groceries_Count|hc_Count|  Latitude|Longitude|
+--------+------------+---------------+--------+----------+---------+
|    3000|          24|             42|       8|-37.815205|144.96394|
|    3002|          14|             17|      10|-37.816143|144.98045|
|    3003|           7|             14|       2| -37.81145| 144.9254|
|    3004|           7|             12|       2| -37.83016|144.98045|
|    3006|          11|             23|       6|-37.824547|144.96394|
|    3008|           3|              3|       1|-37.817066|144.94191|
|    3010|           1|              1|    NULL|-37.798447| 144.9621|
|    3011|          31|             49|      14| -37.79602|144.90063|
|    3012|           9|             14|       5|-37.814625|144.84563|
|    3013|          14|             21|       3|-37.819813|144.88138|
|    3015|          10|             15|       2| -37.83521|144.87862|
|    3016|          18|             25|       5|-37.857143|144.88138|
|    3018|          10|             15|       3|-37.859344|144.81264|
|    3019|          14|             30|       5|-37.790367|144.85661|
|    3020|          32|             52|      14|-37.779114|144.82362|
|    3021|          32|             52|      17|-37.743595|144.80164|
|    3023|          27|             43|      10|-37.768707|144.75218|
|    3024|          16|             23|       5|-37.870632|144.58757|
|    3025|          10|             23|       5|-37.838867|144.83463|
|    3026|           1|              3|    NULL| -37.82942|144.77966|
+--------+------------+---------------+--------+----------+---------+
only showing top 20 rows

In [16]:
combined_update_sdf \
    .coalesce(1) \
    .write \
    .mode('overwrite') \
    .parquet('../data/scraped/combined_data_with_geolocation.parquet')

In [17]:
# Define the function to get suburb/locality using Google API
def get_suburb_name(postcode):
    url = f"https://maps.googleapis.com/maps/api/geocode/json?address={postcode},Victoria,Australia&key={API_KEY}"
    response = requests.get(url)
    if response.status_code == 200:
        result = response.json()
        if result['results']:
            for component in result['results'][0]['address_components']:
                if 'locality' in component['types']:  # Extract the locality (suburb)
                    return component['long_name']
    return None

In [1]:
# Register the UDF with PySpark
get_suburb_name_udf = udf(get_suburb_name, StringType())

# Assuming you have a DataFrame 'combined_df' with 'Postcode' column
# Apply the UDF to add suburb names to your DataFrame
combined_sdf_with_names = combined_update_sdf.withColumn('Suburb', get_suburb_name_udf(combined_df['Postcode']))

# Show the DataFrame with suburb names
combined_sdf_with_names

NameError: name 'udf' is not defined

In [50]:
combined_sdf_with_names \
                .coalesce(1) \
                .write \
                .mode('overwrite') \
                .parquet('../data/scraped/combined_data_with_geolocation.parquet')

NameError: name 'combined_sdf_with_names' is not defined

In [51]:
combined_sdf = spark.read.parquet('../data/scraped/combined_data_with_geolocation.parquet')
combined_sdf

+--------+------------+---------------+--------+----------+---------+----------------+
|Postcode|School_Count|groceries_Count|hc_Count|  Latitude|Longitude|   Postcode_Name|
+--------+------------+---------------+--------+----------+---------+----------------+
|    3000|          24|             42|       8|-37.815205|144.96394|       Melbourne|
|    3002|          14|             17|      10|-37.816143|144.98045|  East Melbourne|
|    3003|           7|             14|       2| -37.81145| 144.9254|  West Melbourne|
|    3004|           7|             12|       2| -37.83016|144.98045|       Melbourne|
|    3006|          11|             23|       6|-37.824547|144.96394|     South Wharf|
|    3008|           3|              3|       1|-37.817066|144.94191|       Docklands|
|    3010|           1|              1|    NULL|-37.798447| 144.9621|       Parkville|
|    3011|          31|             49|      14| -37.79602|144.90063|       Footscray|
|    3012|           9|             14|       5|-37.814625|144.84563|       Tottenham|
|    3013|          14|             21|       3|-37.819813|144.88138|      Yarraville|
|    3015|          10|             15|       2| -37.83521|144.87862|South Kingsville|
|    3016|          18|             25|       5|-37.857143|144.88138|    Williamstown|
|    3018|          10|             15|       3|-37.859344|144.81264|          Altona|
|    3019|          14|             30|       5|-37.790367|144.85661|       Braybrook|
|    3020|          32|             52|      14|-37.779114|144.82362|        Sunshine|
|    3021|          32|             52|      17|-37.743595|144.80164|    Saint Albans|
|    3023|          27|             43|      10|-37.768707|144.75218|        Burnside|
|    3024|          16|             23|       5|-37.870632|144.58757|    Wyndham Vale|
|    3025|          10|             23|       5|-37.838867|144.83463|    Altona North|
|    3026|           1|              3|    NULL| -37.82942|144.77966|  Laverton North|
+--------+------------+---------------+--------+----------+---------+----------------+
only showing top 20 rows

In [52]:
merged_sdf = spark.read.parquet('../data/curated/merged_df.parquet')
merged_sdf

+--------+-----+---------+---------+--------------------+----+-----+-------+--------------------+------------+----------------------------+------------------------------+-----------------------+-------------------+-----------+---------------------------+----------+-----------------------------------+-------------------------------------+
|postcode| cost|   suburb|furnished|       property_type|beds|baths|parking|              region|   lgaregion|total male population - 2021|total female population - 2021|total population - 2021|australian citizens|median rent|median family weekly income|median age|total region male population - 2022|total region female population - 2022|
+--------+-----+---------+---------+--------------------+----+-----+-------+--------------------+------------+----------------------------+------------------------------+-----------------------+-------------------+-----------+---------------------------+----------+-----------------------------------+-------------------------------------+
|    3163|550.0| carnegie|        0|Apartment / Unit ...| 1.0|  1.0|      1|Major Cities of A...|   Glen Eira|                       16007|                         16810|                  32810|              24999|        391|                       2598|        36|                          2538968.0|                            2598457.0|
|    3163|550.0| carnegie|        0|Apartment / Unit ...| 1.0|  1.0|      1|Major Cities of A...|   Glen Eira|                       16007|                         16810|                  32810|              24999|        391|                       2598|        36|                          2538968.0|                            2598457.0|
|    3163|550.0| carnegie|        0|Apartment / Unit ...| 1.0|  1.0|      1|Major Cities of A...|   Glen Eira|                       16007|                         16810|                  32810|              24999|        391|                       2598|        36|                          2538968.0|                            2598457.0|
|    3163|550.0| carnegie|        0|Apartment / Unit ...| 1.0|  1.0|      1|Major Cities of A...|   Glen Eira|                       16007|                         16810|                  32810|              24999|        391|                       2598|        36|                          2538968.0|                            2598457.0|
|    3182|575.0| st-kilda|        0|Apartment / Unit ...| 1.0|  1.0|      0|Major Cities of A...|Port Phillip|                       11278|                         11156|                  22438|              16227|        381|                       2791|        37|                          2538968.0|                            2598457.0|
|    3182|575.0| st-kilda|        0|Apartment / Unit ...| 1.0|  1.0|      0|Major Cities of A...|Port Phillip|                       11278|                         11156|                  22438|              16227|        381|                       2791|        37|                          2538968.0|                            2598457.0|
|    3182|575.0| st-kilda|        0|Apartment / Unit ...| 1.0|  1.0|      0|Major Cities of A...|Port Phillip|                       11278|                         11156|                  22438|              16227|        381|                       2791|        37|                          2538968.0|                            2598457.0|
|    3004|625.0|melbourne|        0|Apartment / Unit ...| 1.0|  1.0|      0|Major Cities of A...|   Melbourne|                        5655|                          5827|                  11482|               7103|        451|                       2727|        37|                          2538968.0|                            2598457.0|
|    3004|625.0|melbourne|        0|Apartment / Unit ...| 1.0|  1.0|      0|Major Cities of A...|   Melbourne|                        5655|                          5827|                  11482|               7103|        451|                       2727|        37|                          2538968.0|                            2598457.0|
|    3004|625.0|melbourne|        0|Apartment / Unit ...| 1.0|  1.0|      0|Major Cities of A...|   Melbourne|                        5655|                          5827|                  11482|               7103|        451|                       2727|        37|                          2538968.0|                            2598457.0|
|    3008|600.0|docklands|        0|Apartment / Unit ...| 2.0|  1.0|      0|Major Cities of A...|   Melbourne|                        8037|                          7458|                  15495|               6983|        411|                       2461|        32|                          2538968.0|                            2598457.0|
|    3011|720.0|footscray|        0|Apartment / Unit ...| 3.0|  2.0|      2|Major Cities of A...| Maribyrnong|                       11361|                         10913|                  22278|              16807|        369|                       2474|        34|                          2538968.0|                            2598457.0|
|    3011|720.0|footscray|        0|Apartment / Unit ...| 3.0|  2.0|      2|Major Cities of A...| Maribyrnong|                       11361|                         10913|                  22278|              16807|        369|                       2474|        34|                          2538968.0|                            2598457.0|
|    3011|720.0|footscray|        0|Apartment / Unit ...| 3.0|  2.0|      2|Major Cities of A...| Maribyrnong|                       11361|                         10913|                  22278|              16807|        369|                       2474|        34|                          2538968.0|                            2598457.0|
|    3121|750.0| richmond|        0|Apartment / Unit ...| 2.0|  2.0|      1|Major Cities of A...|       Yarra|                       15402|                         16135|                  31534|              26056|        450|                       3150|        34|                          2538968.0|                            2598457.0|
|    3121|750.0| richmond|        0|Apartment / Unit ...| 2.0|  2.0|      1|Major Cities of A...|       Yarra|                       15402|                         16135|                  31534|              26056|        450|                       3150|        34|                          2538968.0|                            2598457.0|
|    3121|750.0| richmond|        0|Apartment / Unit ...| 2.0|  2.0|      1|Major Cities of A...|       Yarra|                       15402|                         16135|                  31534|              26056|        450|                       3150|        34|                          2538968.0|                            2598457.0|
|    3121|750.0| richmond|        0|Apartment / Unit ...| 2.0|  2.0|      1|Major Cities of A...|       Yarra|                       15402|                         16135|                  31534|              26056|        450|                       3150|        34|                          2538968.0|                            2598457.0|
|    3121|750.0| richmond|        0|Apartment / Unit ...| 2.0|  2.0|      1|Major Cities of A...|       Yarra|                       15402|                         16135|                  31534|              26056|        450|                       3150|        34|                          2538968.0|                            2598457.0|
|    3121|750.0| richmond|        0|Apartment / Unit ...| 2.0|  2.0|      1|Major Cities of A...|       Yarra|                       15402|                         16135|                  31534|              26056|        450|                       3150|        34|                          2538968.0|                            2598457.0|
+--------+-----+---------+---------+--------------------+----+-----+-------+--------------------+------------+----------------------------+------------------------------+-----------------------+-------------------+-----------+---------------------------+----------+-----------------------------------+-------------------------------------+
only showing top 20 rows

In [53]:
liveability_sdf = merged_sdf \
            .join(combined_sdf, on='Postcode', how='outer')

In [54]:
# Define the Haversine formula using PySpark
def haversine(lat1, lon1, lat2, lon2):
    # Convert degrees to radians
    lat1 = F.radians(lat1)
    lon1 = F.radians(lon1)
    lat2 = F.radians(lat2)
    lon2 = F.radians(lon2)
    
    # Haversine formula
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = F.sin(dlat / 2) ** 2 + F.cos(lat1) * F.cos(lat2) * F.sin(dlon / 2) ** 2
    c = 2 * F.atan2(F.sqrt(a), F.sqrt(1 - a))
    
    # Radius of Earth in kilometers
    r = 6371.0
    return c * r

In [55]:
# Define Melbourne CBD's coordinates
melbourne_lat, melbourne_lon = -37.8136, 144.9631

In [56]:
# Apply the Haversine formula to the Spark DataFrame
liveability_sdf = liveability_sdf.withColumn(
    "distance_to_melbourne_km",
    haversine(F.col("Latitude"), F.col("Longitude"), F.lit(melbourne_lat), F.lit(melbourne_lon))
)

In [57]:
# Add condition to replace distances < 1 km with 0
liveability_sdf = liveability_sdf.withColumn(
    "distance_to_melbourne_km",
    F.when(F.col("distance_to_melbourne_km") < 1, 0).otherwise(F.col("distance_to_melbourne_km"))
)

In [59]:
# Calculate school per capita and add a new column
liveability_sdf = liveability_sdf.withColumn(
    "school_per_capita", 
    F.col("School_Count") / F.col("total population - 2021")
)

In [60]:
liveability_sdf

+--------+------+---------+---------+--------------------+----+-----+-------+--------------------+---------+----------------------------+------------------------------+-----------------------+-------------------+-----------+---------------------------+----------+-----------------------------------+-------------------------------------+------------+---------------+--------+----------+---------+-------------+------------------------+--------------------+
|postcode|  cost|   suburb|furnished|       property_type|beds|baths|parking|              region|lgaregion|total male population - 2021|total female population - 2021|total population - 2021|australian citizens|median rent|median family weekly income|median age|total region male population - 2022|total region female population - 2022|School_Count|groceries_Count|hc_Count|  Latitude|Longitude|Postcode_Name|distance_to_melbourne_km|   school_per_capita|
+--------+------+---------+---------+--------------------+----+-----+-------+--------------------+---------+----------------------------+------------------------------+-----------------------+-------------------+-----------+---------------------------+----------+-----------------------------------+-------------------------------------+------------+---------------+--------+----------+---------+-------------+------------------------+--------------------+
|    3000| 945.0|melbourne|        0|Apartment / Unit ...| 3.0|  1.0|      0|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000| 460.0|melbourne|        0|Apartment / Unit ...| 1.0|  1.0|      0|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000|1250.0|melbourne|        0|Apartment / Unit ...| 2.0|  2.0|      0|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000| 740.0|melbourne|        1|Apartment / Unit ...| 2.0|  2.0|      0|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000| 810.0|melbourne|        0|Apartment / Unit ...| 2.0|  2.0|      0|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000| 550.0|melbourne|        0|Apartment / Unit ...| 1.0|  1.0|      1|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000| 600.0|melbourne|        0|Apartment / Unit ...| 1.0|  1.0|      0|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000| 620.0|melbourne|        0|Apartment / Unit ...| 2.0|  1.0|      0|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000| 950.0|melbourne|        0|Apartment / Unit ...| 2.0|  2.0|      1|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000|1200.0|melbourne|        1|Apartment / Unit ...| 2.0|  2.0|      0|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000| 680.0|melbourne|        0|Apartment / Unit ...| 2.0|  2.0|      1|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000| 830.0|melbourne|        0|Apartment / Unit ...| 2.0|  2.0|      1|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000| 770.0|melbourne|        0|Apartment / Unit ...| 2.0|  2.0|      0|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000| 625.0|melbourne|        0|Apartment / Unit ...| 2.0|  1.0|      0|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000| 720.0|melbourne|        0|Apartment / Unit ...| 2.0|  2.0|      0|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000| 650.0|melbourne|        0|Apartment / Unit ...| 2.0|  1.0|      1|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000| 625.0|melbourne|        0|Apartment / Unit ...| 1.0|  1.0|      0|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000| 450.0|melbourne|        0|Apartment / Unit ...| 1.0|  1.0|      0|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000| 650.0|melbourne|        0|Apartment / Unit ...| 1.0|  1.0|      0|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
|    3000| 840.0|melbourne|        0|Apartment / Unit ...| 2.0|  2.0|      0|Major Cities of A...|Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|          24|             42|       8|-37.815205|144.96394|    Melbourne|                     0.0|5.570513415653143E-4|
+--------+------+---------+---------+--------------------+----+-----+-------+--------------------+---------+----------------------------+------------------------------+-----------------------+-------------------+-----------+---------------------------+----------+-----------------------------------+-------------------------------------+------------+---------------+--------+----------+---------+-------------+------------------------+--------------------+
only showing top 20 rows

In [61]:
liveability_sdf \
    .coalesce(1) \
    .write \
    .mode('overwrite') \
    .parquet('../data/scraped/liveability_data.parquet')

In [62]:
spark.stop()