# Properties
The `Properties.ipynb` notebook takes the scraped data obtained from Domain.com 
and goes through data cleaning stages. This includes extracting relevant information
from strings, data type casting and checking that the entries are valid. This data 
is merged with the ABS regional population data. The final output of this notebook 
is a clean dataframe that contains combined information from the ABS regional 
population data and domain.com property data, indexed by postcodes

Setting up workspace:

In [1]:
# Import relative libraries
from pyspark.sql.types import *
from pyspark.sql import SparkSession, functions as F
import re
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

# Create a spark session (which will run spark jobs)
spark = (
    SparkSession.builder.appName("MAST30034 Project 2")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config('spark.driver.memory', '4g')
    .config('spark.executor.memory', '2g')
    .getOrCreate()
)

# Load in Data
raw_properties = spark.read.parquet('../data/raw/property_data.parquet')
initial_instances = raw_properties.count()

your 131072x1 screen size is bogus. expect trouble
Picked up _JAVA_OPTIONS: -Xmx2048m
Picked up _JAVA_OPTIONS: -Xmx2048m
24/10/18 10:42:50 WARN Utils: Your hostname, Rachel resolves to a loopback address: 127.0.1.1; using 172.20.97.252 instead (on interface eth0)
24/10/18 10:42:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/18 10:42:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Initial Preprocessing:

In [2]:
pdf = raw_properties.toPandas()

# Delete Rows that do not contain the price in cost_text - invalid entries
valid_costs = [x if re.search(r"([\d\.]+)", x) else 0 for x in pdf['cost_text']]
pdf['cost_text'] = valid_costs
pdf = pdf[pdf['cost_text']!=0]

# Remove commas
pdf['cost'] = pdf['cost_text'].replace(',','', regex=True)

# Manual deletions 
pdf = pdf.drop(8235) # invalid cost

Creating Boolean columns to mark whether a columns cost is given per week, month or year as well as removing decimals, $ and ,

In [3]:
# Convert to Spark
sdf = spark.createDataFrame(pdf)
raw_sdf = sdf.withColumn(
    # Properties priced per week
    'Week',
    F.when(F.lower(F.col('cost_text')).contains('pw') \
           | F.lower(F.col('cost_text')).contains('p/w') \
           | F.lower(F.col('cost_text')).contains('wk') \
           | F.lower(F.col('cost_text')).contains('/w') \
           | F.lower(F.col('cost_text')).contains('week'), True).otherwise(False)
).withColumn(
    # see if property is priced per annum
    'month',
    F.when(F.lower(F.col('cost_text')).contains('month') \
        | F.lower(F.col('cost_text')).contains('per month') \
        | F.lower(F.col('cost_text')).contains('pcm'), True ).otherwise(False)
).withColumn(
    # see if property is priced per annum
    'contains_pa',
    F.when(F.lower(F.col('cost_text')).contains('p.a') \
        | F.lower(F.col('cost_text')).contains('pa') \
        | F.lower(F.col('cost_text')).contains('per annum') \
        | F.lower(F.col('cost_text')).contains('per year') \
        | F.lower(F.col('cost_text')).contains('per_annum') \
        | F.lower(F.col('cost_text')).contains('p/a'), True ).otherwise(False)
).withColumn(
    # remove $ and ,
    'cost',
    F.regexp_replace(F.col("cost"), r"[$]", "")
).withColumn(
    # removes decimal places
    'cost',
    F.regexp_replace(F.col("cost"), r"\.\d+", "")
)

Extract numeric cost value and convert to weekly cost

In [4]:
# convert to pandas
pdf = raw_sdf.toPandas()
pdf['cost'] = [(re.findall(r'\d\d+', x)) for x in pdf['cost']]

pdf['cost'] = [x[0] if (len(x)>=1) else 0 for x in pdf['cost'] ] # extract lowest estimate of price when a range is given

for i in range(len(pdf)):
    if ((pdf['month'][i] == True)&(pdf['Week'][i]==False)):
        cost = re.findall(r'\d+', pdf['cost'][i])[0]
        # Divide monthly cost by 4
        pdf['cost'][i] = int(cost)/4
    if ((pdf['month'][i] == False)&(pdf['Week'][i]==False)&((pdf['contains_pa'][i])==True)):
        cost = re.findall(r'\d+', pdf['cost'][i])[0]
        # Divide annual cost by 52
        pdf['cost'][i] = int(cost)/52

/tmp/ipykernel_9223/1662031786.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:15: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pdf['cost'][i] = int(cost)/52
/tmp/ipykernel_9223/1662031786.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf['cost'][i] = int(cost)/52
/tmp/ipykernel_9223/1662031786.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  pdf['cost'][i] = int(cost)/4
/tmp/ipykernel_9223/1662031786.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf['cost'][i] = int(cost)/4

Drop invalid costs, validity checking

In [5]:
pdf[(pdf['month'] == False)&(pdf['Week']==False)&((pdf['contains_pa'])==True)]

# Delete invalid costs
pdf = pdf.drop(4951)
pdf = pdf.drop(10581)

pdf[(pdf['month'] == False)&(pdf['Week']==False)&((pdf['contains_pa'])==True)]

,url,postcode,suburb,name,cost_text,beds,baths,parking,property_type,cost,Week,month,contains_pa
3106,https://www.domain.com.au/8-chamberlain-road-r...,3523,redcastle,"8 Chamberlain Road, Redcastle VIC 3523","$28,000 Per Year !!",None,None,0,Vacant land,538.461538,False,False,True
4900,https://www.domain.com.au/22-enterprise-way-ya...,3730,yarrawonga,"22 Enterprise Way, Yarrawonga VIC 3730","$52,000 per annum plus GST",1,1,4,New House & Land,1000.0,False,False,True
6357,https://www.domain.com.au/667-glenhuntly-road-...,3162,caulfield,"667 Glenhuntly Road, Caulfield VIC 3162","$38,000 p.a. Incl. Outgoings + GST",None,None,0,House,730.769231,False,False,True
7664,https://www.domain.com.au/12-panama-street-wol...,3750,wollert,"12 Panama Street, Wollert VIC 3750","LEASED for $33,500 PA in ONE HOUR!",4,2,2,House,644.230769,False,False,True
9720,https://www.domain.com.au/30-south-concourse-b...,3193,beaumaris,"30 South Concourse, Beaumaris VIC 3193","$39,000 p.a + Outgoings",0,1,0,Studio,750.0,False,False,True

Create Boolean column to mark if a property is furnished

In [6]:
# Convert pdf back to spark
raw_sdf = spark.createDataFrame(pdf)

raw_sdf = raw_sdf.withColumn(
    # see if property is furnished - note: this will contain partially furnished as well
    'furnished', 
    F.when(F.lower(F.col('cost_text')).contains('furnish') \
        | F.lower(F.col('cost_text')).contains('furniture'), True ).otherwise(False)
)

raw_sdf

+--------------------+--------+---------------+--------------------+--------------------+----+-----+-------+--------------------+----+-----+-----+-----------+---------+
|                 url|postcode|         suburb|                name|           cost_text|beds|baths|parking|       property_type|cost| Week|month|contains_pa|furnished|
+--------------------+--------+---------------+--------------------+--------------------+----+-----+-------+--------------------+----+-----+-----+-----------+---------+
|https://www.domai...|    3141|    south-yarra|(Leased) 3 Yarra ...|                $460|   1|    1|      1|Apartment / Unit ...| 460|false|false|      false|    false|
|https://www.domai...|    3125|        burwood|04/390 Burwood Hi...|$310 per week, wi...|   1|    1|      0|Apartment / Unit ...| 310| true|false|      false|    false|
|https://www.domai...|    3156| ferntree-gully|1 & 2/32 Folkston...|                $800|   4|    3|      1|               House| 800|false|false|      false|    false|
|https://www.domai...|    3228|        torquay|1 Acacia Street, ...|     $1,000 per week|   4|    2|      2|               House|1000| true|false|      false|    false|
|https://www.domai...|    3200|frankston-north|1 Aleppo Crescent...|                $450|   3|    1|      1|               House| 450|false|false|      false|    false|
|https://www.domai...|    3011|      footscray|1 Bed 1 Bath/34 C...|            $480 P/W|   1|    1|      0|Apartment / Unit ...| 480| true|false|      false|    false|
|https://www.domai...|    3011|      footscray|1 Bed 1 Bath/48 C...|            $500 P/W|   1|    1|      1|Apartment / Unit ...| 500| true|false|      false|    false|
|https://www.domai...|    3030|     point-cook|1 Bensonhurst Par...|       $570 per week|   4|    2|      2|               House| 570| true|false|      false|    false|
|https://www.domai...|    3047|   broadmeadows|1 Biltris Court, ...|                $500|   3|    1|      2|               House| 500|false|false|      false|    false|
|https://www.domai...|    3149| mount-waverley|1 Birralee Street...|       $625 per week|   3|    1|      1|               House| 625| true|false|      false|    false|
|https://www.domai...|    3338|   melton-south|1 Blaxland Road, ...|             $440 pw|   4|    1|      2|               House| 440| true|false|      false|    false|
|https://www.domai...|    3029|        tarneit|1 Chantelle Parad...|                $545|   3|    2|      1|               House| 545|false|false|      false|    false|
|https://www.domai...|    3335|       rockbank|1 Coopworth Way, ...|             $615 pw|   4|    3|      2|               House| 615| true|false|      false|    false|
|https://www.domai...|    3197|patterson-lakes|1 Coral Island Co...|       $1,350 a week|   4|    2|      2|               House|1350| true|false|      false|    false|
|https://www.domai...|    3975|       lynbrook|1 Cottrell Place,...|                $650|   4|    2|      2|               House| 650|false|false|      false|    false|
|https://www.domai...|    3350|   golden-point|1 Curnow Street, ...|       $490 per week|   4|    2|      1|               House| 490| true|false|      false|    false|
|https://www.domai...|    3012| west-footscray|1 Elphinstone Str...|       $580 per week|   2|    1|      1|               House| 580| true|false|      false|    false|
|https://www.domai...|    3978|    clyde-north|1 Freiberger Grov...|       $580 Per Week|   4|    2|      2|               House| 580| true|false|      false|    false|
|https://www.domai...|    3024|   wyndham-vale|1 Fritelli Circui...|             $480.00|   3|    2|      2|           Townhouse| 480|false|false|      false|    false|
|https://www.domai...|    3150|  wheelers-hill|1 GRADUATE CRESCE...|     $1,000 per week|   4|    2|      5|               House|1000| true|false|      false|    false|
+--------------------+--------+---------------+--------------------+--------------------+----+-----+-------+--------------------+----+-----+-----+-----------+---------+
only showing top 20 rows

Cast to Correct Datatypes

In [7]:
from pyspark.sql.functions import col

pdf = raw_sdf.toPandas()

# Schema - cast datatypes
raw_sdf = raw_sdf.select(
    col('cost').cast('float'),
    col('postcode').cast('int'),
    col('suburb').cast('string'),
    col('furnished').cast('int'),
    col('property_type').cast('string'),
    col('beds').cast('int'),
    col('baths').cast('int'),
    col('parking').cast('int'),
  )

pdf=raw_sdf.toPandas()

Deleting non-zero values and removing NaN values

In [8]:
# Delete non-zero values
pdf = pdf[pdf['cost']!=0]

# Remove NaN values
pdf = pdf.dropna()
num_deletions = initial_instances - len(pdf)
print("Deleted {} instances".format(num_deletions))

Deleted 335 instances

In [9]:
final_pdf = pdf
final_sdf = spark.createDataFrame(final_pdf)

final_sdf.write.mode("overwrite").parquet("../data/curated/properties.parquet")

Validity Checking - setting the number of amenities to a range that is suitable for our demographic of renters

In [10]:
df = spark.read.parquet('../data/curated/properties.parquet')

filtered_df = df \
    .filter((F.col('beds') > 0) & (F.col('beds') <= 6)) \
    .filter((F.col('baths') > 0) & (F.col('baths') <= 6)) \
    .filter((F.col('parking') >= 0) & (F.col('parking') <= 6))

print("removing {} invalid rows".format(df.count() - filtered_df.count()))

removing 156 invalid rows

Saving the dataframe to parquet file

In [11]:
filtered_df.write.mode("overwrite").parquet("../data/curated/valid_properties.parquet")

MERGING:
The following section merges the parquet files with four datasets taken from https://dbr.abs.gov.au/region.html?lyr=ra&rgn=20 which are for major cities, inner regional, outer regional and remote australia inside victoria as well as population data taken from the 2021 census found on the abs website

In [12]:
# downloading datasets
import urllib.request as req
import zipfile
import os

# url = [major city, inner regional, outer regional, remote]
url = ['https://dbr.abs.gov.au/processedData/csv/RA_20.csv', 'https://dbr.abs.gov.au/processedData/csv/RA_21.csv','https://dbr.abs.gov.au/processedData/csv/RA_22.csv','https://dbr.abs.gov.au/processedData/csv/RA_23.csv']
url_header = ['major', 'inner_r', 'outer_r', 'remote']
urls = {}
for i,j in enumerate(url_header):
    req.urlretrieve(url[i], '../data/raw/{}.csv'.format(j))

zip_file_path = '../data/raw/census_population.zip'
extract_path = '../data/raw/census_data'
req.urlretrieve('https://www.abs.gov.au/census/find-census-data/datapacks/download/2021_GCP_POA_for_VIC_short-header.zip', zip_file_path)

with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)

# Use the extracted files
extracted_files = os.listdir(extract_path)
for file in extracted_files:
    if file.endswith('.csv'):
        csv_path = os.path.join(extract_path, file)
        with open(csv_path, 'r') as f:
            content = f.read()

os.remove(zip_file_path)

In [13]:
# converting csv files to spark dataframe
spark = SparkSession.builder.appName("merge").getOrCreate()

24/10/18 10:43:23 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

We convert the ABS csv files into a spark dataframe

In [14]:
dfs = []
url_header = ['major', 'inner_r', 'outer_r', 'remote']
region = ['metropolitan victoria', 'inner regional victoria', 'outer regional victoria', 'remote victoria']

i = 1
while i < 5:
    df = spark.read.csv('../data/raw/{}.csv'.format(url_header[i-1]), header=True, inferSchema=True)
    
    # only using columns from 2018-2022
    df = df.drop('2011', '2015', '2016', '2023')
    # assigning region values
    df = df.withColumn('region', F.lit(region[i-1]))
    dfs.append(df)
    i += 1

we merge our separate regional dataframes and combine them into one

In [15]:
from functools import reduce

# function that combines all dataframes into one merged_df
merged_df = reduce(lambda df1, df2: df1.union(df2), dfs)

In [16]:
# output to parquet
merged_df.write.mode('overwrite').parquet('../data/raw/region_summary.parquet')

In [17]:
# deleting unused files
files = ['../data/raw/major.csv', '../data/raw/outer_r.csv', '../data/raw/inner_r.csv', '../data/raw/remote.csv']

for file in files:
    if os.path.exists(file):
        os.remove(file)
        print(f"{file} has been deleted.")
    else:
        print(f"{file} does not exist.")

../data/raw/major.csv has been deleted.
../data/raw/outer_r.csv has been deleted.
../data/raw/inner_r.csv has been deleted.
../data/raw/remote.csv has been deleted.

=======================================================================================================================\
changing postcode dataset to be compatible with the properties dataset from Domain.com

This will enable us to merge the data into our property dataset. We will do this by linking our region names with the remoteness area names, using the australian postcode dataset by matthew proctor

In [19]:
url = "https://www.matthewproctor.com/Content/postcodes/australian_postcodes.csv"
output_path = "../data/raw/postcodes.csv"
req.urlretrieve(url, output_path)
df = spark.read.csv(output_path, header=True, inferSchema=True)

HTTPError: HTTP Error 403: Forbidden

Preprocessing the postcode data to only include features of interest i.e. postcode, locality, state, local government region and regional area name for merging

In [20]:
# only want postcode, locality, state and ra_2021_name columns
wanted_col = ['postcode', 'locality', 'state', 'lgaregion', 'RA_2021_NAME']
new_df = df.select(*wanted_col)
# only take rows from victoria
new_df = new_df.filter(new_df['state'] == 'VIC')
# remove the state column as its not important anymore
new_df = new_df.drop('state')

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `postcode` cannot be resolved. Did you mean one of the following? [`region`, `2018`, `2019`, `2020`, `2021`].;
'Project ['postcode, 'locality, 'state, 'lgaregion, 'RA_2021_NAME]
+- Project [Measure Code#562, Parent Description#563, Description#564, 2018#567, 2019#568, 2020#569, 2021#570, 2022#571, remote victoria AS region#593]
   +- Project [Measure Code#562, Parent Description#563, Description#564, 2018#567, 2019#568, 2020#569, 2021#570, 2022#571]
      +- Relation [Measure Code#562,Parent Description#563,Description#564,2011#565,2016#566,2018#567,2019#568,2020#569,2021#570,2022#571,2023#572] csv

reading the abs census data into spark dataframes

In [62]:
df1 = spark.read.csv('../data/raw/census_data/2021 Census GCP Postal Areas for VIC/2021Census_G01_VIC_POA.csv', header=True, inferSchema=True)
df2 = spark.read.csv('../data/raw/census_data/2021 Census GCP Postal Areas for VIC/2021Census_G02_VIC_POA.csv', header=True, inferSchema=True)

Renaming the columns into more consistent and readable names

In [63]:
df2 = df2 \
    .withColumnRenamed('Median_age_persons', 'median age') \
    .withColumnRenamed('Median_rent_weekly', 'median rent') \
    .withColumnRenamed('Median_tot_fam_inc_weekly', 'median family weekly income') \
    .withColumnRenamed('POA_CODE_2021', 'postcode')

df2.show()

+--------+----------+-----------------------------+---------------------------+-----------+---------------------------+----------------------------+-------------------------+----------------------+
|postcode|median age|Median_mortgage_repay_monthly|Median_tot_prsnl_inc_weekly|median rent|median family weekly income|Average_num_psns_per_bedroom|Median_tot_hhd_inc_weekly|Average_household_size|
+--------+----------+-----------------------------+---------------------------+-----------+---------------------------+----------------------------+-------------------------+----------------------+
| POA3000|        28|                         1733|                        768|        370|                       1857|                         1.1|                     1306|                   1.7|
| POA3002|        42|                         2383|                       1532|        480|                       3733|                         0.9|                     2345|                   1.8|
| POA3003|        31|                         2106|                       1058|        388|                       2406|                         1.1|                     1788|                   1.9|
| POA3004|        37|                         2000|                       1343|        451|                       2727|                         1.0|                     2090|                   1.7|
| POA3006|        31|                         1900|                       1171|        411|                       2450|                         1.0|                     1927|                   1.8|
| POA3008|        32|                         2000|                       1182|        411|                       2461|                         1.1|                     1957|                   1.8|
| POA3011|        34|                         2000|                        981|        369|                       2474|                         1.0|                     1896|                   2.1|
| POA3012|        35|                         2100|                        976|        370|                       2513|                         0.9|                     1987|                   2.4|
| POA3013|        37|                         2500|                       1246|        462|                       3216|                         0.9|                     2485|                   2.5|
| POA3015|        38|                         2500|                       1241|        460|                       3214|                         0.9|                     2556|                   2.6|
| POA3016|        45|                         2600|                       1089|        450|                       3234|                         0.9|                     2382|                   2.5|
| POA3018|        42|                         2200|                        945|        390|                       2475|                         0.8|                     1861|                   2.3|
| POA3019|        34|                         1859|                        622|        312|                       1600|                         1.0|                     1451|                   2.7|
| POA3020|        37|                         1733|                        608|        340|                       1592|                         0.9|                     1428|                   2.7|
| POA3021|        37|                         1500|                        494|        325|                       1343|                         0.9|                     1238|                   2.8|
| POA3022|        37|                         1700|                        698|        340|                       1734|                         0.8|                     1452|                   2.4|
| POA3023|        35|                         1869|                        719|        381|                       2017|                         0.9|                     1905|                   3.2|
| POA3024|        31|                         1800|                        842|        350|                       2077|                         0.8|                     1995|                   3.1|
| POA3025|        37|                         2167|                        753|        400|                       2137|                         0.8|                     1695|                   2.6|
| POA3026|        32|                         1976|                        848|        397|                       2212|                         1.0|                     2242|                   3.5|
+--------+----------+-----------------------------+---------------------------+-----------+---------------------------+----------------------------+-------------------------+----------------------+
only showing top 20 rows

In [64]:
# renaming the columns we want to keep
df1 = df1\
    .withColumnRenamed('POA_CODE_2021', 'postcode') \
    .withColumnRenamed('Tot_P_M', 'total male population - 2021') \
    .withColumnRenamed('Tot_P_F', 'total female population - 2021') \
    .withColumnRenamed('Tot_P_P', 'total population - 2021') \
    .withColumnRenamed('Australian_citizen_P', 'australian citizens')
df1.show()

24/10/17 21:27:59 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+--------+----------------------------+------------------------------+-----------------------+------------+------------+------------+-------------+-------------+-------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+----------+----------+----------+---------------------------+---------------------------+---------------------------+-----------------------------+-----------------------------+-----------------------------+----------------------------+----------------------------+----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------------+------------------+------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+-------------------------+-------------------------+-------------------------+-------------------------+-------------------------+-------------------------+--------------------+--------------------+-------------------+----------------------------+----------------------------+----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+----------------------------+----------------------------+----------------------------+----------------------------+----------------------------+----------------------------+----------------------------+----------------------------+----------------------------+---------------------------+---------------------------+---------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+
|postcode|total male population - 2021|total female population - 2021|total population - 2021|Age_0_4_yr_M|Age_0_4_yr_F|Age_0_4_yr_P|Age_5_14_yr_M|Age_5_14_yr_F|Age_5_14_yr_P|Age_15_19_yr_M|Age_15_19_yr_F|Age_15_19_yr_P|Age_20_24_yr_M|Age_20_24_yr_F|Age_20_24_yr_P|Age_25_34_yr_M|Age_25_34_yr_F|Age_25_34_yr_P|Age_35_44_yr_M|Age_35_44_yr_F|Age_35_44_yr_P|Age_45_54_yr_M|Age_45_54_yr_F|Age_45_54_yr_P|Age_55_64_yr_M|Age_55_64_yr_F|Age_55_64_yr_P|Age_65_74_yr_M|Age_65_74_yr_F|Age_65_74_yr_P|Age_75_84_yr_M|Age_75_84_yr_F|Age_75_84_yr_P|Age_85ov_M|Age_85ov_F|Age_85ov_P|Counted_Census_Night_home_M|Counted_Census_Night_home_F|Counted_Census_Night_home_P|Count_Census_Nt_Ewhere_Aust_M|Count_Census_Nt_Ewhere_Aust_F|Count_Census_Nt_Ewhere_Aust_P|Indigenous_psns_Aboriginal_M|Indigenous_psns_Aboriginal_F|Indigenous_psns_Aboriginal_P|Indig_psns_Torres_Strait_Is_M|Indig_psns_Torres_Strait_Is_F|Indig_psns_Torres_Strait_Is_P|Indig_Bth_Abor_Torres_St_Is_M|Indig_Bth_Abor_Torres_St_Is_F|Indig_Bth_Abor_Torres_St_Is_P|Indigenous_P_Tot_M|Indigenous_P_Tot_F|Indigenous_P_Tot_P|Birthplace_Australia_M|Birthplace_Australia_F|Birthplace_Australia_P|Birthplace_Elsewhere_M|Birthplace_Elsewhere_F|Birthplace_Elsewhere_P|Lang_used_home_Eng_only_M|Lang_used_home_Eng_only_F|Lang_used_home_Eng_only_P|Lang_used_home_Oth_Lang_M|Lang_used_home_Oth_Lang_F|Lang_used_home_Oth_Lang_P|Australian_citizen_M|Australian_citizen_F|australian citizens|Age_psns_att_educ_inst_0_4_M|Age_psns_att_educ_inst_0_4_F|Age_psns_att_educ_inst_0_4_P|Age_psns_att_educ_inst_5_14_M|Age_psns_att_educ_inst_5_14_F|Age_psns_att_educ_inst_5_14_P|Age_psns_att_edu_inst_15_19_M|Age_psns_att_edu_inst_15_19_F|Age_psns_att_edu_inst_15_19_P|Age_psns_att_edu_inst_20_24_M|Age_psns_att_edu_inst_20_24_F|Age_psns_att_edu_inst_20_24_P|Age_psns_att_edu_inst_25_ov_M|Age_psns_att_edu_inst_25_ov_F|Age_psns_att_edu_inst_25_ov_P|High_yr_schl_comp_Yr_12_eq_M|High_yr_schl_comp_Yr_12_eq_F|High_yr_schl_comp_Yr_12_eq_P|High_yr_schl_comp_Yr_11_eq_M|High_yr_schl_comp_Yr_11_eq_F|High_yr_schl_comp_Yr_11_eq_P|High_yr_schl_comp_Yr_10_eq_M|High_yr_schl_comp_Yr_10_eq_F|High_yr_schl_comp_Yr_10_eq_P|High_yr_schl_comp_Yr_9_eq_M|High_yr_schl_comp_Yr_9_eq_F|High_yr_schl_comp_Yr_9_eq_P|High_yr_schl_comp_Yr_8_belw_M|High_yr_schl_comp_Yr_8_belw_F|High_yr_schl_comp_Yr_8_belw_P|High_yr_schl_comp_D_n_g_sch_M|High_yr_schl_comp_D_n_g_sch_F|High_yr_schl_comp_D_n_g_sch_P|Count_psns_occ_priv_dwgs_M|Count_psns_occ_priv_dwgs_F|Count_psns_occ_priv_dwgs_P|Count_Persons_other_dwgs_M|Count_Persons_other_dwgs_F|Count_Persons_other_dwgs_P|
+--------+----------------------------+------------------------------+-----------------------+------------+------------+------------+-------------+-------------+-------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+--------------+----------+----------+----------+---------------------------+---------------------------+---------------------------+-----------------------------+-----------------------------+-----------------------------+----------------------------+----------------------------+----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+------------------+------------------+------------------+----------------------+----------------------+----------------------+----------------------+----------------------+----------------------+-------------------------+-------------------------+-------------------------+-------------------------+-------------------------+-------------------------+--------------------+--------------------+-------------------+----------------------------+----------------------------+----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+----------------------------+----------------------------+----------------------------+----------------------------+----------------------------+----------------------------+----------------------------+----------------------------+----------------------------+---------------------------+---------------------------+---------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+-----------------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+--------------------------+
| POA3000|                       21548|                         21539|                  43084|         347|         345|         697|          388|          376|          767|           773|           950|          1726|          5009|          5819|         10827|          8888|          8779|         17665|          3240|          2670|          5909|          1333|          1133|          2466|           867|           822|          1688|           482|           473|           956|           183|           136|           323|        40|        36|        73|                      20875|                      20811|                      41689|                          673|                          727|                         1397|                          87|                          63|                         149|                            0|                            0|                            3|                            5|                            0|                            7|                92|                64|               158|                  5355|                  4120|                  9475|                 14142|                 15517|                 29660|                     7433|                     5590|                    13028|                    12013|                    13999|                    26009|                8073|                6638|              14713|                          72|                          79|                         155|                          335|                          307|                          644|                          608|                          771|                         1380|                         3218|                         3812|                         7030|                         3033|                         3710|                         6741|                       16734|                       17205|                       33940|                         820|                         731|                        1549|                         602|                         454|                        1054|                        216|                        167|                        389|                          150|                          131|                          287|                          155|                          171|                          322|                     18338|                     18650|                     36985|                      4327|                      3590|                      7916|
| POA3002|                        2353|                          2545|                   4896|          59|          53|         110|           87|           91|          176|            40|            56|            92|           130|           153|           275|           565|           577|          1144|           397|           386|           786|           255|           297|           552|           308|           351|           663|           299|           349|           651|           172|           150|           324|        39|        84|       119|                       2213|                       2395|                       4607|                          137|                          150|                          292|                           6|                           0|                          13|                            0|                            0|                            0|                            0|                            0|                            0|                 8|                 0|                12|                  1590|                  1698|                  3291|                   639|                   710|                  1348|                     1905|                     2026|                     3933|                      307|                      382|                      689|                1939|                2103|               4045|                          16|                          11|                          31|                           80|                           84|                          165|                           38|                           48|                           85|                           72|                           78|                          149|                          122|                          196|                          314|                        1791|                        1937|                        3727|                         127|                         147|                         278|                          92|                         109|                         205|                         25|                         28|                         47|                           20|                           28|                           49|                            6|                            4|                            9|                      2060|                      2235|                      4297|                       538|                       519|                      1058|
| POA3003|                        4093|                          3926|                   8025|         118|         137|         250|          167|          167|          336|           117|           117|           227|           523|           583|          1098|          1655|          1588|          3248|           761|           617|          1377|           372|           329|           697|           223|           209|           435|           117|           125|           245|            45|            47|            91|         5|        12|        15|                       3941|                       3775|                       7719|                          152|                          151|                          304|                          40|                          24|                          63|                            4|                            0|                            8|                            5|                            0|                            3|                43|                26|                69|                  1815|                  1520|                  3337|                  2081|                  2209|                  4294|                     2026|                     1806|                     3826|                     1690|                     1919|                     3610|                2253|                2115|               4366|                          32|                          35|                          67|                          161|                          158|                          314|                           93|                          104|                          193|                          299|                          351|                          651|                          510|                          568|                         1078|                        3006|                        3031|                        6038|                         207|                         176|                         383|                         240|                         120|                         365|                         47|                         38|                         85|                           32|                           38|                           71|                           17|                           24|                           38|                      3650|                      3651|                      7304|                       424|                       206|                       630|
| POA3004|                        5655|                          5827|                  11482|         168|         193|         362|          224|          223|          448|           101|           105|           205|           359|           358|           711|          1574|          1789|          3363|          1152|          1004|          2155|           630|           596|          1224|           507|           562|          1071|           489|           551|          1042|           342|           316|           659|       109|       136|       242|                       5427|                       5570|                      10999|                          233|                          254|                          486|                          19|                          22|                          40|                            0|                            0|                            0|                            5|                            0|                            5|                23|                22|                45|                  2535|                  2525|                  5064|                  2582|                  2786|                  5366|                     3347|                     3270|                     6620|                     1771|                     2035|                     3809|                3582|                3525|               7103|                          46|                          54|                         100|                          202|                          199|                          409|                           80|                           90|                          169|                          157|                          185|                          345|                          379|                          518|                          896|                        4066|                        4215|                        8281|                         303|                         318|                         621|                         236|                         223|                         464|                         68|                         67|                        143|                           30|                           29|                           60|                           19|                           21|                           40|                      4891|                      5089|                      9983|                      1256|                       991|                      2251|

In [65]:
#preprocessing the census population dataset
cols = ['postcode', 'total male population - 2021', 'total female population - 2021', 'total population - 2021', 'australian citizens']
df1 = df1.withColumn("postcode", F.col('postcode').substr(4, 4))
df1 = df1.select(*cols)

#preprocessing the rental data census dataset
df2 = df2.withColumn("postcode", F.col('postcode').substr(4, 4))
cols = ['postcode', 'median rent', 'median family weekly income', 'median age']
df2 = df2.select(*cols)

Performing merges and saving dataframes

In [66]:
#merging the two census datasets
merge_df = df1.join(df2, on = 'postcode', how = 'left')
merged_df = new_df.join(merge_df, on = 'postcode', how = 'left')

In [67]:
merged_df.write.mode('overwrite').parquet('../data/raw/victorian_postcodes.parquet')
region_df = spark.read.parquet("../data/raw/region_summary.parquet")

Standardising for a seamless merge

In [70]:
region_df = region_df.withColumn(
    'region',
    F.when(F.col('region') == 'metropolitan victoria', 'Major Cities of Australia' )
    .otherwise(F.col('region'))).withColumn(
    'region',
    F.when(F.col('region') == 'inner regional victoria', 'Inner Regional Australia' )
    .otherwise(F.col('region'))
    ).withColumn(
    'region',
    F.when(F.col('region') == 'outer regional victoria', 'Outer Regional Australia' )
    .otherwise(F.col('region'))
    ).withColumn(
    'region',
    F.when(F.col('region') == 'remote victoria', 'Remote Australia' )
    .otherwise(F.col('region'))
    )

Getting male and female region population columns and merging them in

In [71]:
totalm_df = region_df.where(F.col('Measure Code') == 'ERP_M_20')
totalf_df = region_df.where(F.col('Measure Code') == 'ERP_F_20')

In [72]:
totalm_df = totalm_df.withColumnRenamed('2022', 'total region male population - 2022')
totalf_df = totalf_df.withColumnRenamed('2022', 'total region female population - 2022')

In [73]:
col1 = ['region', 'total region male population - 2022']
col2 = ['region', 'total region female population - 2022']

totalm_df = totalm_df.select(*col1)
totalf_df = totalf_df.select(*col2)
totalm_df.show()

+--------------------+-----------------------------------+
|              region|total region male population - 2022|
+--------------------+-----------------------------------+
|Major Cities of A...|                          2538968.0|
|Inner Regional Au...|                           606425.0|
|Outer Regional Au...|                           128873.0|
|    Remote Australia|                             1744.0|
+--------------------+-----------------------------------+

In [74]:
merged_df = merged_df.withColumnRenamed('RA_2021_NAME', 'region')
merged_df1 = merged_df.join(totalm_df, on = 'region', how = 'left')
merged_df1 = merged_df1.join(totalf_df, on = 'region', how = 'left')

In [75]:
merged_df1 = merged_df1.drop('locality')
merged_df1.show()

+--------------------+--------+------------+----------------------------+------------------------------+-----------------------+-------------------+-----------+---------------------------+----------+-----------------------------------+-------------------------------------+
|              region|postcode|   lgaregion|total male population - 2021|total female population - 2021|total population - 2021|australian citizens|median rent|median family weekly income|median age|total region male population - 2022|total region female population - 2022|
+--------------------+--------+------------+----------------------------+------------------------------+-----------------------+-------------------+-----------+---------------------------+----------+-----------------------------------+-------------------------------------+
|Major Cities of A...|    3000|   Melbourne|                       21548|                         21539|                  43084|              14713|        370|                       1857|        28|                          2538968.0|                            2598457.0|
|                NULL|    3001|   Melbourne|                        NULL|                          NULL|                   NULL|               NULL|       NULL|                       NULL|      NULL|                               NULL|                                 NULL|
|Major Cities of A...|    3002|   Melbourne|                        2353|                          2545|                   4896|               4045|        480|                       3733|        42|                          2538968.0|                            2598457.0|
|Major Cities of A...|    3003|   Melbourne|                        4093|                          3926|                   8025|               4366|        388|                       2406|        31|                          2538968.0|                            2598457.0|
|Major Cities of A...|    3004|   Melbourne|                        5655|                          5827|                  11482|               7103|        451|                       2727|        37|                          2538968.0|                            2598457.0|
|Major Cities of A...|    3004|   Melbourne|                        5655|                          5827|                  11482|               7103|        451|                       2727|        37|                          2538968.0|                            2598457.0|
|Major Cities of A...|    3004|   Melbourne|                        5655|                          5827|                  11482|               7103|        451|                       2727|        37|                          2538968.0|                            2598457.0|
|                NULL|    3005|   Melbourne|                        NULL|                          NULL|                   NULL|               NULL|       NULL|                       NULL|      NULL|                               NULL|                                 NULL|
|Major Cities of A...|    3006|Port Phillip|                       11499|                         11197|                  22699|              11460|        411|                       2450|        31|                          2538968.0|                            2598457.0|
|Major Cities of A...|    3006|Port Phillip|                       11499|                         11197|                  22699|              11460|        411|                       2450|        31|                          2538968.0|                            2598457.0|
|Major Cities of A...|    3008|   Melbourne|                        8037|                          7458|                  15495|               6983|        411|                       2461|        32|                          2538968.0|                            2598457.0|
|                NULL|    3010|   Melbourne|                        NULL|                          NULL|                   NULL|               NULL|       NULL|                       NULL|      NULL|                               NULL|                                 NULL|
|Major Cities of A...|    3011| Maribyrnong|                       11361|                         10913|                  22278|              16807|        369|                       2474|        34|                          2538968.0|                            2598457.0|
|Major Cities of A...|    3011| Maribyrnong|                       11361|                         10913|                  22278|              16807|        369|                       2474|        34|                          2538968.0|                            2598457.0|
|Major Cities of A...|    3011| Maribyrnong|                       11361|                         10913|                  22278|              16807|        369|                       2474|        34|                          2538968.0|                            2598457.0|
|Major Cities of A...|    3012|    Brimbank|                       13593|                         13423|                  27023|              21594|        370|                       2513|        35|                          2538968.0|                            2598457.0|
|Major Cities of A...|    3012|    Brimbank|                       13593|                         13423|                  27023|              21594|        370|                       2513|        35|                          2538968.0|                            2598457.0|
|Major Cities of A...|    3012|    Brimbank|                       13593|                         13423|                  27023|              21594|        370|                       2513|        35|                          2538968.0|                            2598457.0|
|Major Cities of A...|    3012|    Brimbank|                       13593|                         13423|                  27023|              21594|        370|                       2513|        35|                          2538968.0|                            2598457.0|
|Major Cities of A...|    3012|    Brimbank|                       13593|                         13423|                  27023|              21594|        370|                       2513|        35|                          2538968.0|                            2598457.0|
+--------------------+--------+------------+----------------------------+------------------------------+-----------------------+-------------------+-----------+---------------------------+----------+-----------------------------------+-------------------------------------+
only showing top 20 rows

In [76]:
merged_df1.write.mode('overwrite').parquet('../data/raw/victorian_postcodes.parquet')

=====================================================================================\
now we are merging our population data with our property data

In [77]:
# reading dataframes
property_df = spark.read.parquet('../data/curated/valid_properties.parquet')
pop_df = spark.read.parquet('../data/raw/victorian_postcodes.parquet')

In [78]:
# merge on postcode
final_merge_df = property_df.join(pop_df, on = 'postcode', how = 'left')

In [79]:
final_merge_df.show()

+--------+-----+----------+---------+-------------+----+-----+-------+--------------------+---------------+----------------------------+------------------------------+-----------------------+-------------------+-----------+---------------------------+----------+-----------------------------------+-------------------------------------+
|postcode| cost|    suburb|furnished|property_type|beds|baths|parking|              region|      lgaregion|total male population - 2021|total female population - 2021|total population - 2021|australian citizens|median rent|median family weekly income|median age|total region male population - 2022|total region female population - 2022|
+--------+-----+----------+---------+-------------+----+-----+-------+--------------------+---------------+----------------------------+------------------------------+-----------------------+-------------------+-----------+---------------------------+----------+-----------------------------------+-------------------------------------+
|    3029|520.0| truganina|        0|        House| 3.0|  1.0|      1|Major Cities of A...|         Melton|                       66596|                         63291|                 129888|              89276|        371|                       2018|        31|                          2538968.0|                            2598457.0|
|    3029|520.0| truganina|        0|        House| 3.0|  1.0|      1|Major Cities of A...|         Melton|                       66596|                         63291|                 129888|              89276|        371|                       2018|        31|                          2538968.0|                            2598457.0|
|    3029|520.0| truganina|        0|        House| 3.0|  1.0|      1|Major Cities of A...|         Melton|                       66596|                         63291|                 129888|              89276|        371|                       2018|        31|                          2538968.0|                            2598457.0|
|    3500|480.0|   mildura|        0|        House| 3.0|  1.0|      2|Outer Regional Au...|        Mildura|                       16634|                         17937|                  34565|              28537|        280|                       1635|        39|                           128873.0|                             128617.0|
|    3500|480.0|   mildura|        0|        House| 3.0|  1.0|      2|Outer Regional Au...|        Mildura|                       16634|                         17937|                  34565|              28537|        280|                       1635|        39|                           128873.0|                             128617.0|
|    3500|480.0|   mildura|        0|        House| 3.0|  1.0|      2|Outer Regional Au...|        Mildura|                       16634|                         17937|                  34565|              28537|        280|                       1635|        39|                           128873.0|                             128617.0|
|    3810|500.0|  pakenham|        0|        House| 3.0|  2.0|      1|Inner Regional Au...|       Cardinia|                       27135|                         28453|                  55588|              46026|        351|                       1894|        33|                           606425.0|                             621339.0|
|    3810|500.0|  pakenham|        0|        House| 3.0|  2.0|      1|Inner Regional Au...|       Cardinia|                       27135|                         28453|                  55588|              46026|        351|                       1894|        33|                           606425.0|                             621339.0|
|    3810|500.0|  pakenham|        0|        House| 3.0|  2.0|      1|Inner Regional Au...|       Cardinia|                       27135|                         28453|                  55588|              46026|        351|                       1894|        33|                           606425.0|                             621339.0|
|    3810|500.0|  pakenham|        0|        House| 3.0|  2.0|      1|Inner Regional Au...|       Cardinia|                       27135|                         28453|                  55588|              46026|        351|                       1894|        33|                           606425.0|                             621339.0|
|    3216|480.0|   belmont|        0|        House| 3.0|  1.0|      2|Inner Regional Au...|Greater Geelong|                       29203|                         30920|                  60123|              53051|        360|                       2203|        38|                           606425.0|                             621339.0|
|    3216|480.0|   belmont|        0|        House| 3.0|  1.0|      2|Inner Regional Au...|Greater Geelong|                       29203|                         30920|                  60123|              53051|        360|                       2203|        38|                           606425.0|                             621339.0|
|    3216|480.0|   belmont|        0|        House| 3.0|  1.0|      2|Inner Regional Au...|Greater Geelong|                       29203|                         30920|                  60123|              53051|        360|                       2203|        38|                           606425.0|                             621339.0|
|    3216|480.0|   belmont|        0|        House| 3.0|  1.0|      2|Inner Regional Au...|Greater Geelong|                       29203|                         30920|                  60123|              53051|        360|                       2203|        38|                           606425.0|                             621339.0|
|    3216|480.0|   belmont|        0|        House| 3.0|  1.0|      2|Inner Regional Au...|Greater Geelong|                       29203|                         30920|                  60123|              53051|        360|                       2203|        38|                           606425.0|                             621339.0|
|    3216|480.0|   belmont|        0|        House| 3.0|  1.0|      2|Inner Regional Au...|Greater Geelong|                       29203|                         30920|                  60123|              53051|        360|                       2203|        38|                           606425.0|                             621339.0|
|    3216|480.0|   belmont|        0|        House| 3.0|  1.0|      2|Inner Regional Au...|Greater Geelong|                       29203|                         30920|                  60123|              53051|        360|                       2203|        38|                           606425.0|                             621339.0|
|    3216|480.0|   belmont|        0|        House| 3.0|  1.0|      2|Inner Regional Au...|Greater Geelong|                       29203|                         30920|                  60123|              53051|        360|                       2203|        38|                           606425.0|                             621339.0|
|    3216|480.0|   belmont|        0|        House| 3.0|  1.0|      2|Inner Regional Au...|Greater Geelong|                       29203|                         30920|                  60123|              53051|        360|                       2203|        38|                           606425.0|                             621339.0|
|    3030|530.0|point-cook|        0|    Townhouse| 3.0|  2.0|      2|Inner Regional Au...|        Wyndham|                       59258|                         59945|                 119201|              87410|        371|                       2242|        34|                           606425.0|                             621339.0|
+--------+-----+----------+---------+-------------+----+-----+-------+--------------------+---------------+----------------------------+------------------------------+-----------------------+-------------------+-----------+---------------------------+----------+-----------------------------------+-------------------------------------+
only showing top 20 rows

In [80]:
final_merge_df.write.mode('overwrite').parquet('../data/curated/merged_df.parquet')