In [20]:
import pandas as pd
import numpy as np

In [10]:
from pyspark.sql import SparkSession
#Create a spark session (which will run spark jobs)
spark = (
    SparkSession.builder.appName("Liveability")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config('spark.driver.memory', '4g')
    .config('spark.executor.memory', '2g')
    .getOrCreate()
)

In [30]:
df = spark.read.parquet('../data/landing0/combined_data_with_geolocation.parquet', header=True, inferSchema=True)
df1 = spark.read.parquet('../data/landing/affordability.parquet', header=True, inferSchema=True)
df1 = df1.withColumnRenamed("postcode", "Postcode")
df1.show()

+--------+--------------------------------+-------------------------------+
|Postcode|1-2 Bedder Affordability Metrics|3+ Bedder Affordability Metrics|
+--------+--------------------------------+-------------------------------+
|    3206|             -1.2048854819594377|            -3.0889491836899445|
|    3143|             -0.9883217067643573|              3.889919997813914|
|    3054|             -0.9079612028064519|             4.1149715710151025|
|    3052|             -1.1122950728463596|             -2.556917169064297|
|    3000|                4.65482052280358|              10.16330811857669|
|    3066|              -1.143062691803662|               4.01632192826229|
|    3008|              16.636352030714296|             16.636352030714296|
|    3002|               4.768741414266279|             10.159587087927141|
|    <NA>|             -0.7601763854474433|              4.218058757322852|
|    3184|             -1.0341411680671477|              3.981507453950985|
|    3065|             -1.2636562321036182|             3.8353166289872602|
|    3068|             -0.8977866330968878|             -2.453356165828218|
|    3031|             -0.5958439295035767|              4.448940619107949|
|    3051|             -1.0414982887472828|               4.12485911607605|
|    3207|             -1.6165836051257765|             -3.235277081046018|
|    3181|             -1.0477330199612753|              4.004633417342184|
|    3121|              -1.182751793533976|            -2.5787620737763657|
|    3205|              -1.424156550138444|              3.806352408673815|
|    3141|             -1.2597001627370847|              3.749870538941357|
|    3006|               4.552863206481397|             10.196813683518847|
+--------+--------------------------------+-------------------------------+
only showing top 20 rows

In [ ]:
## filter to remove null values from postcode

In [31]:
print((df1.count()))

154

In [33]:
df = df.withColumnRenamed("School_Count", "Number of Schools")
df = df.withColumnRenamed("groceries_Count", "Number of Groceries")
df = df.withColumnRenamed("hc_Count", "Number of Healthcare Services")
df = df.withColumnRenamed("Postcode_Name", "Suburbs")
df

+--------+-----------------+-------------------+-----------------------------+----------+---------+----------------+
|Postcode|Number of Schools|Number of Groceries|Number of Healthcare Services|  Latitude|Longitude|         Suburbs|
+--------+-----------------+-------------------+-----------------------------+----------+---------+----------------+
|    3000|               24|                 42|                            8|-37.815205|144.96394|       Melbourne|
|    3002|               14|                 17|                           10|-37.816143|144.98045|  East Melbourne|
|    3003|                7|                 14|                            2| -37.81145| 144.9254|  West Melbourne|
|    3004|                7|                 12|                            2| -37.83016|144.98045|       Melbourne|
|    3006|               11|                 23|                            6|-37.824547|144.96394|     South Wharf|
|    3008|                3|                  3|                            1|-37.817066|144.94191|       Docklands|
|    3010|                1|                  1|                         NULL|-37.798447| 144.9621|       Parkville|
|    3011|               31|                 49|                           14| -37.79602|144.90063|       Footscray|
|    3012|                9|                 14|                            5|-37.814625|144.84563|       Tottenham|
|    3013|               14|                 21|                            3|-37.819813|144.88138|      Yarraville|
|    3015|               10|                 15|                            2| -37.83521|144.87862|South Kingsville|
|    3016|               18|                 25|                            5|-37.857143|144.88138|    Williamstown|
|    3018|               10|                 15|                            3|-37.859344|144.81264|          Altona|
|    3019|               14|                 30|                            5|-37.790367|144.85661|       Braybrook|
|    3020|               32|                 52|                           14|-37.779114|144.82362|        Sunshine|
|    3021|               32|                 52|                           17|-37.743595|144.80164|    Saint Albans|
|    3023|               27|                 43|                           10|-37.768707|144.75218|        Burnside|
|    3024|               16|                 23|                            5|-37.870632|144.58757|    Wyndham Vale|
|    3025|               10|                 23|                            5|-37.838867|144.83463|    Altona North|
|    3026|                1|                  3|                         NULL| -37.82942|144.77966|  Laverton North|
+--------+-----------------+-------------------+-----------------------------+----------+---------+----------------+
only showing top 20 rows

In [35]:

output = df.join(df1,['Postcode'],"inner")
output.show()

+--------+-----------------+-------------------+-----------------------------+----------+---------+----------------+--------------------------------+-------------------------------+
|Postcode|Number of Schools|Number of Groceries|Number of Healthcare Services|  Latitude|Longitude|         Suburbs|1-2 Bedder Affordability Metrics|3+ Bedder Affordability Metrics|
+--------+-----------------+-------------------+-----------------------------+----------+---------+----------------+--------------------------------+-------------------------------+
|    3000|               24|                 42|                            8|-37.815205|144.96394|       Melbourne|                4.65482052280358|              10.16330811857669|
|    3002|               14|                 17|                           10|-37.816143|144.98045|  East Melbourne|               4.768741414266279|             10.159587087927141|
|    3006|               11|                 23|                            6|-37.824547|144.96394|     South Wharf|               4.552863206481397|             10.196813683518847|
|    3008|                3|                  3|                            1|-37.817066|144.94191|       Docklands|              16.636352030714296|             16.636352030714296|
|    3011|               31|                 49|                           14| -37.79602|144.90063|       Footscray|             0.03838021054854135|              4.893258173464451|
|    3012|                9|                 14|                            5|-37.814625|144.84563|       Tottenham|             0.28394676559308074|             -0.714180590981063|
|    3013|               14|                 21|                            3|-37.819813|144.88138|      Yarraville|            -0.07213725882495314|              4.592167886334514|
|    3015|               10|                 15|                            2| -37.83521|144.87862|South Kingsville|            -0.04387129153748326|            -1.4514250440880074|
|    3016|               18|                 25|                            5|-37.857143|144.88138|    Williamstown|            -0.38848828343925135|            -1.9764599724907406|
|    3018|               10|                 15|                            3|-37.859344|144.81264|          Altona|             0.19844164536585218|            -0.6079530593649842|
|    3020|               32|                 52|                           14|-37.779114|144.82362|        Sunshine|              0.6108422426602429|            -0.2905973809253224|
|    3030|               38|                 53|                           20|-37.938057|144.67532|      Point Cook|              0.4639763040798579|            -0.2078574461050522|
|    3031|               16|                 29|                            4|-37.790897|144.91989|      Kensington|             -0.5958439295035767|              4.448940619107949|
|    3036|                6|                  6|                            3|-37.691284|144.81264|    Keilor North|              16.636352030714296|             10.878196044794983|
|    3037|               24|                 36|                           13|-37.694004|144.75218|        Hillside|              11.061927350498548|            -0.5761984400856566|
|    3039|               19|                 32|                           11|-37.767536|144.91989|    Moonee Ponds|             -0.3865790824441788|             -1.670901460916709|
|    3040|               21|                 26|                            8|-37.749302|144.90063|      Aberfeldie|             -0.1843747117843133|            -1.2028537980764833|
|    3043|               13|                 20|                            4|-37.704422|144.87862|  Gladstone Park|              11.094793927655376|             -0.535826218794214|
|    3044|               22|                 28|                            5|-37.731083| 144.9364|     Pascoe Vale|             -0.2665205956736836|            -1.3238728216172806|
|    3046|               21|                 41|                            7|-37.704426|144.93365|         Glenroy|             0.18039197239793126|            -0.6839403378279583|
+--------+-----------------+-------------------+-----------------------------+----------+---------+----------------+--------------------------------+-------------------------------+
only showing top 20 rows