In [1]:
import pandas as pd
import numpy as np

In [2]:
from pyspark.sql import SparkSession
#Create a spark session (which will run spark jobs)
spark = (
    SparkSession.builder.appName("Liveability")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config('spark.driver.memory', '4g')
    .config('spark.executor.memory', '2g')
    .getOrCreate()
)

your 131072x1 screen size is bogus. expect trouble
24/10/06 15:21:13 WARN Utils: Your hostname, DESKTOP-Q5SP5SI resolves to a loopback address: 127.0.1.1; using 172.20.36.110 instead (on interface eth0)
24/10/06 15:21:13 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/06 15:21:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/10/06 15:21:22 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/10/06 15:21:22 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [5]:
df = spark.read.parquet('../data/landing0/combined_data_with_geolocation.parquet', header=True, inferSchema=True)
df.show()

+--------+------------+---------------+--------+----------+---------+----------------+
|Postcode|School_Count|groceries_Count|hc_Count|  Latitude|Longitude|   Postcode_Name|
+--------+------------+---------------+--------+----------+---------+----------------+
|    3000|          24|             42|       8|-37.815205|144.96394|       Melbourne|
|    3002|          14|             17|      10|-37.816143|144.98045|  East Melbourne|
|    3003|           7|             14|       2| -37.81145| 144.9254|  West Melbourne|
|    3004|           7|             12|       2| -37.83016|144.98045|       Melbourne|
|    3006|          11|             23|       6|-37.824547|144.96394|     South Wharf|
|    3008|           3|              3|       1|-37.817066|144.94191|       Docklands|
|    3010|           1|              1|    NULL|-37.798447| 144.9621|       Parkville|
|    3011|          31|             49|      14| -37.79602|144.90063|       Footscray|
|    3012|           9|             14|       5|-37.814625|144.84563|       Tottenham|
|    3013|          14|             21|       3|-37.819813|144.88138|      Yarraville|
|    3015|          10|             15|       2| -37.83521|144.87862|South Kingsville|
|    3016|          18|             25|       5|-37.857143|144.88138|    Williamstown|
|    3018|          10|             15|       3|-37.859344|144.81264|          Altona|
|    3019|          14|             30|       5|-37.790367|144.85661|       Braybrook|
|    3020|          32|             52|      14|-37.779114|144.82362|        Sunshine|
|    3021|          32|             52|      17|-37.743595|144.80164|    Saint Albans|
|    3023|          27|             43|      10|-37.768707|144.75218|        Burnside|
|    3024|          16|             23|       5|-37.870632|144.58757|    Wyndham Vale|
|    3025|          10|             23|       5|-37.838867|144.83463|    Altona North|
|    3026|           1|              3|    NULL| -37.82942|144.77966|  Laverton North|
+--------+------------+---------------+--------+----------+---------+----------------+
only showing top 20 rows

In [11]:
RAI_df = spark.read.parquet('../data/landing/RAI.parquet')

In [12]:
print((RAI_df))

+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------+-----------------+
|             suburbs|           f1B_RAI|           f2B_RAI|           f3B_RAI|           h2B_RAI|           h3B_RAI|           h4B_RAI|           all_RAI|postcode|__index_level_0__|
+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------+-----------------+
|Albert Park-Middl...| 259.7647058823529|             184.0|128.37209302325581|149.59349593495935| 96.84210526315789| 74.84745762711864|169.84615384615384|    3054|                2|
|            Armadale|256.74418604651163|193.68421052631578|122.66666666666666|142.45161290322582|105.14285714285714| 83.32075471698113|197.14285714285717|    3052|                3|
|       Carlton North|             276.0|200.72727272727272|157.71428571428572|161.16788321167883|122.66666666666666|              92.0|162.35294117647058|    3000|                4|
|   Carlton-Parkville|245.33333333333331|             172.5| 130.6508875739645|169.84615384615384| 134.1433778857837|100.36363636363636|193.68421052631578|    3066|                5|
|     CBD-St Kilda Rd|200.72727272727272|157.71428571428572|             110.4|              NULL|              NULL|              NULL|             172.5|    3008|                6|
|Collingwood-Abbot...|223.48178137651823|169.84615384615384|114.52282157676348|158.16618911174785|126.17142857142858|              NULL|             184.0|    3002|                7|
|           Docklands|200.72727272727272|157.71428571428572|105.14285714285714|              NULL|              96.0|              NULL|169.84615384615384|    <NA>|                8|
|      East Melbourne|228.57142857142856|175.23809523809524| 114.6417445482866|              NULL|              NULL|              NULL|187.11864406779662|    3184|                9|
|       East St Kilda| 279.4936708860759|200.72727272727272|             138.0|158.84892086330936|122.66666666666666|              96.0|212.30769230769232|    3065|               10|
|              Elwood| 267.3123486682809|195.39823008849558|129.88235294117646|149.59349593495935| 99.45945945945947| 66.62643331321667|200.72727272727272|    3068|               11|
|             Fitzroy|232.42105263157896|157.71428571428572|             110.4|             147.2|111.51515151515153|              92.0|169.84615384615384|    3031|               12|
|Fitzroy North-Cli...| 259.7647058823529|             184.0|128.67132867132867|157.71428571428572|122.80311457174638|              92.0|169.84615384615384|    3051|               13|
|Flemington-Kensin...| 259.7647058823529|             220.8|169.84615384615384|             184.0|151.23287671232876|122.66666666666666|             220.8|    3207|               14|
|North Melbourne-W...|229.99999999999997|169.84615384615384|129.88235294117646|178.06451612903226|134.63414634146343|107.70731707317074|             192.0|    3181|               15|
|      Port Melbourne|             220.8|158.84892086330936|100.36363636363636|164.77611940298507|116.21052631578948|              92.0|158.84892086330936|    3121|               16|
|     Prahran-Windsor|256.74418604651163|             184.0|125.02831257078142| 152.2758620689655|116.21052631578948| 86.58823529411764|197.14285714285717|    3205|               17|
|    Richmond-Burnley|232.42105263157896|169.84615384615384|116.21052631578948|157.71428571428572|120.65573770491804|              92.0|            176.64|    3141|               18|
|     South Melbourne|             220.8|169.84615384615384|122.66666666666666|153.76044568245126|114.99999999999999|              NULL|178.06451612903226|    3006|               19|
|         South Yarra|             240.0|169.84615384615384|112.65306122448979|             150.0|105.14285714285714| 68.02218114602587| 190.3448275862069|    3182|               20|
|           Southbank|208.30188679245282|             160.0|113.23076923076923|              NULL|              NULL|              NULL|169.84615384615384|    3142|               21|
+--------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+--------+-----------------+
only showing top 20 rows

In [7]:
df = df.withColumnRenamed("School_Count", "Number of Schools")
df = df.withColumnRenamed("groceries_Count", "Number of Groceries")
df = df.withColumnRenamed("hc_Count", "Number of Healthcare Services")
df = df.withColumnRenamed("Postcode_Name", "Suburbs")
df

+--------+-----------------+-------------------+-----------------------------+----------+---------+----------------+
|Postcode|Number of Schools|Number of Groceries|Number of Healthcare Services|  Latitude|Longitude|         Suburbs|
+--------+-----------------+-------------------+-----------------------------+----------+---------+----------------+
|    3000|               24|                 42|                            8|-37.815205|144.96394|       Melbourne|
|    3002|               14|                 17|                           10|-37.816143|144.98045|  East Melbourne|
|    3003|                7|                 14|                            2| -37.81145| 144.9254|  West Melbourne|
|    3004|                7|                 12|                            2| -37.83016|144.98045|       Melbourne|
|    3006|               11|                 23|                            6|-37.824547|144.96394|     South Wharf|
|    3008|                3|                  3|                            1|-37.817066|144.94191|       Docklands|
|    3010|                1|                  1|                         NULL|-37.798447| 144.9621|       Parkville|
|    3011|               31|                 49|                           14| -37.79602|144.90063|       Footscray|
|    3012|                9|                 14|                            5|-37.814625|144.84563|       Tottenham|
|    3013|               14|                 21|                            3|-37.819813|144.88138|      Yarraville|
|    3015|               10|                 15|                            2| -37.83521|144.87862|South Kingsville|
|    3016|               18|                 25|                            5|-37.857143|144.88138|    Williamstown|
|    3018|               10|                 15|                            3|-37.859344|144.81264|          Altona|
|    3019|               14|                 30|                            5|-37.790367|144.85661|       Braybrook|
|    3020|               32|                 52|                           14|-37.779114|144.82362|        Sunshine|
|    3021|               32|                 52|                           17|-37.743595|144.80164|    Saint Albans|
|    3023|               27|                 43|                           10|-37.768707|144.75218|        Burnside|
|    3024|               16|                 23|                            5|-37.870632|144.58757|    Wyndham Vale|
|    3025|               10|                 23|                            5|-37.838867|144.83463|    Altona North|
|    3026|                1|                  3|                         NULL| -37.82942|144.77966|  Laverton North|
+--------+-----------------+-------------------+-----------------------------+----------+---------+----------------+
only showing top 20 rows

In [35]:

output = df.join(df1,['Postcode'],"inner")
output.show()

+--------+-----------------+-------------------+-----------------------------+----------+---------+----------------+--------------------------------+-------------------------------+
|Postcode|Number of Schools|Number of Groceries|Number of Healthcare Services|  Latitude|Longitude|         Suburbs|1-2 Bedder Affordability Metrics|3+ Bedder Affordability Metrics|
+--------+-----------------+-------------------+-----------------------------+----------+---------+----------------+--------------------------------+-------------------------------+
|    3000|               24|                 42|                            8|-37.815205|144.96394|       Melbourne|                4.65482052280358|              10.16330811857669|
|    3002|               14|                 17|                           10|-37.816143|144.98045|  East Melbourne|               4.768741414266279|             10.159587087927141|
|    3006|               11|                 23|                            6|-37.824547|144.96394|     South Wharf|               4.552863206481397|             10.196813683518847|
|    3008|                3|                  3|                            1|-37.817066|144.94191|       Docklands|              16.636352030714296|             16.636352030714296|
|    3011|               31|                 49|                           14| -37.79602|144.90063|       Footscray|             0.03838021054854135|              4.893258173464451|
|    3012|                9|                 14|                            5|-37.814625|144.84563|       Tottenham|             0.28394676559308074|             -0.714180590981063|
|    3013|               14|                 21|                            3|-37.819813|144.88138|      Yarraville|            -0.07213725882495314|              4.592167886334514|
|    3015|               10|                 15|                            2| -37.83521|144.87862|South Kingsville|            -0.04387129153748326|            -1.4514250440880074|
|    3016|               18|                 25|                            5|-37.857143|144.88138|    Williamstown|            -0.38848828343925135|            -1.9764599724907406|
|    3018|               10|                 15|                            3|-37.859344|144.81264|          Altona|             0.19844164536585218|            -0.6079530593649842|
|    3020|               32|                 52|                           14|-37.779114|144.82362|        Sunshine|              0.6108422426602429|            -0.2905973809253224|
|    3030|               38|                 53|                           20|-37.938057|144.67532|      Point Cook|              0.4639763040798579|            -0.2078574461050522|
|    3031|               16|                 29|                            4|-37.790897|144.91989|      Kensington|             -0.5958439295035767|              4.448940619107949|
|    3036|                6|                  6|                            3|-37.691284|144.81264|    Keilor North|              16.636352030714296|             10.878196044794983|
|    3037|               24|                 36|                           13|-37.694004|144.75218|        Hillside|              11.061927350498548|            -0.5761984400856566|
|    3039|               19|                 32|                           11|-37.767536|144.91989|    Moonee Ponds|             -0.3865790824441788|             -1.670901460916709|
|    3040|               21|                 26|                            8|-37.749302|144.90063|      Aberfeldie|             -0.1843747117843133|            -1.2028537980764833|
|    3043|               13|                 20|                            4|-37.704422|144.87862|  Gladstone Park|              11.094793927655376|             -0.535826218794214|
|    3044|               22|                 28|                            5|-37.731083| 144.9364|     Pascoe Vale|             -0.2665205956736836|            -1.3238728216172806|
|    3046|               21|                 41|                            7|-37.704426|144.93365|         Glenroy|             0.18039197239793126|            -0.6839403378279583|
+--------+-----------------+-------------------+-----------------------------+----------+---------+----------------+--------------------------------+-------------------------------+
only showing top 20 rows