notebook that checks if entries are valid

In [46]:
from pyspark.sql.types import *
from pyspark.sql import SparkSession, functions as F
import os
# Create a spark session (which will run spark jobs)
spark = (
    SparkSession.builder.appName("MAST30034 Project 2")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config('spark.driver.memory', '4g')
    .config('spark.executor.memory', '2g')
    .getOrCreate()
)

In [47]:
df = spark.read.parquet('../data/curated/furnishing.parquet')

In [48]:
df.show(5)

+-----+--------+----------+---------+-------------+----+-----+-------+
| cost|postcode|    suburb|furnished|property_type|beds|baths|parking|
+-----+--------+----------+---------+-------------+----+-----+-------+
|520.0|    3029| truganina|        0|        House| 3.0|  1.0|      1|
|480.0|    3500|   mildura|        0|        House| 3.0|  1.0|      2|
|500.0|    3810|  pakenham|        0|        House| 3.0|  2.0|      1|
|480.0|    3216|   belmont|        0|        House| 3.0|  1.0|      2|
|530.0|    3030|point-cook|        0|    Townhouse| 3.0|  2.0|      2|
+-----+--------+----------+---------+-------------+----+-----+-------+
only showing top 5 rows

In [49]:
small_df= df.limit(20)

In [50]:
small_df.show()

+-----+--------+--------------+---------+--------------------+----+-----+-------+
| cost|postcode|        suburb|furnished|       property_type|beds|baths|parking|
+-----+--------+--------------+---------+--------------------+----+-----+-------+
|520.0|    3029|     truganina|        0|               House| 3.0|  1.0|      1|
|480.0|    3500|       mildura|        0|               House| 3.0|  1.0|      2|
|500.0|    3810|      pakenham|        0|               House| 3.0|  2.0|      1|
|480.0|    3216|       belmont|        0|               House| 3.0|  1.0|      2|
|530.0|    3030|    point-cook|        0|           Townhouse| 3.0|  2.0|      2|
|650.0|    3550| north-bendigo|        1|               House| 3.0|  2.0|      1|
|490.0|    3335|thornhill-park|        0|               House| 4.0|  2.0|      2|
|560.0|    3029|       tarneit|        0|               House| 4.0|  2.0|      2|
|600.0|    3155|       boronia|        0|               House| 3.0|  1.0|      2|
|500.0|    3216|   waurn-ponds|        0|               House| 3.0|  2.0|      2|
|400.0|    3222|      drysdale|        0|Apartment / Unit ...| 2.0|  1.0|      0|
|480.0|    3338|    weir-views|        0|               House| 4.0|  2.0|      2|
|550.0|    3677|    wangaratta|        0|               House| 3.0|  2.0|      2|
|390.0|    3400|       horsham|        0|               House| 3.0|  2.0|      2|
|625.0|    3135| ringwood-east|        0|               House| 3.0|  1.0|      2|
|630.0|    3810|      pakenham|        0|               House| 4.0|  2.0|      2|
|580.0|    3029|       tarneit|        0|               House| 4.0|  2.0|      2|
|545.0|    3029|       tarneit|        0|               House| 4.0|  2.0|      2|
|600.0|    3030|    point-cook|        0|               House| 4.0|  2.0|      2|
|620.0|    3429|       sunbury|        0|               House| 4.0|  2.0|      2|
+-----+--------+--------------+---------+--------------------+----+-----+-------+

In [51]:
updated_df = df \
    .filter((F.col('beds') > 0) & (F.col('beds') <= 6)) \
    .filter((F.col('baths') > 0) & (F.col('baths') <= 6)) \
    .filter((F.col('parking') >= 0) & (F.col('parking') <= 6)) \

# updated_df = updated_df.withColumn(
#     "contains_price",
#     F.col("cost_text").rlike(r"(\$*\d+(?:,\d*)*(?:\.\d*)?)")
# ).filter(F.col("contains_price") == True)

In [52]:
updated_df.orderBy(F.desc("beds"))

# updated_df.orderBy(F.desc("parking"))

+------+--------+--------------+---------+-------------+----+-----+-------+
|  cost|postcode|        suburb|furnished|property_type|beds|baths|parking|
+------+--------+--------------+---------+-------------+----+-----+-------+
| 720.0|    3750|       wollert|        0|        House| 6.0|  3.0|      2|
|1195.0|    3184|        elwood|        0|        House| 6.0|  2.0|      1|
| 500.0|    3350|   mount-clear|        0|        House| 6.0|  2.0|      2|
| 750.0|    3020|      sunshine|        0|        House| 6.0|  2.0|      5|
| 670.0|    3977|    cranbourne|        0|        House| 6.0|  2.0|      2|
|2024.0|    3032|   maribyrnong|        0|        House| 6.0|  3.0|      3|
| 680.0|    3226|   ocean-grove|        0|        House| 6.0|  3.0|      2|
|2200.0|    3939|         boneo|        0|        House| 6.0|  5.0|      3|
| 750.0|    3028|      seabrook|        0|        House| 6.0|  2.0|      2|
| 780.0|    3132|       mitcham|        0|        House| 6.0|  3.0|      5|
|1100.0|    3150| glen-waverley|        0|        House| 6.0|  4.0|      2|
|1200.0|    3193|     beaumaris|        0|        House| 6.0|  3.0|      2|
|1100.0|    3149|mount-waverley|        0|        House| 6.0|  2.0|      2|
| 900.0|    3978|   clyde-north|        0|        House| 6.0|  3.0|      2|
|2600.0|    3106|   templestowe|        0|        House| 6.0|  4.0|      5|
|1450.0|    3141|   south-yarra|        0|        House| 6.0|  2.0|      3|
| 570.0|    3219|       newcomb|        0|        House| 6.0|  3.0|      2|
|2800.0|    3787|     sassafras|        0|        House| 6.0|  6.0|      6|
| 850.0|    3216|     grovedale|        0|        House| 6.0|  3.0|      2|
| 295.0|    3114| park-orchards|        0|        House| 6.0|  3.0|      3|
+------+--------+--------------+---------+-------------+----+-----+-------+
only showing top 20 rows

In [53]:
spec = updated_df.filter(updated_df.suburb == "cranbourne-east").orderBy(F.desc("beds"))

In [54]:
spec.show()

+------+--------+---------------+---------+-------------+----+-----+-------+
|  cost|postcode|         suburb|furnished|property_type|beds|baths|parking|
+------+--------+---------------+---------+-------------+----+-----+-------+
| 680.0|    3977|cranbourne-east|        0|        House| 6.0|  2.0|      2|
| 580.0|    3977|cranbourne-east|        0|        House| 4.0|  2.0|      2|
| 540.0|    3977|cranbourne-east|        0|        House| 4.0|  2.0|      2|
| 650.0|    3977|cranbourne-east|        0|        House| 4.0|  2.0|      2|
| 625.0|    3977|cranbourne-east|        0|        House| 4.0|  2.0|      2|
| 580.0|    3977|cranbourne-east|        0|        House| 4.0|  2.0|      2|
| 580.0|    3977|cranbourne-east|        0|        House| 4.0|  2.0|      1|
| 520.0|    3977|cranbourne-east|        0|        House| 4.0|  2.0|      1|
| 650.0|    3977|cranbourne-east|        0|        House| 4.0|  2.0|      2|
| 560.0|    3977|cranbourne-east|        0|    Townhouse| 4.0|  3.0|      2|
| 610.0|    3977|cranbourne-east|        0|        House| 4.0|  2.0|      2|
| 680.0|    3977|cranbourne-east|        0|        House| 4.0|  2.0|      2|
| 580.0|    3977|cranbourne-east|        0|        House| 4.0|  2.0|      2|
|1000.0|    3977|cranbourne-east|        0|        House| 4.0|  2.0|      4|
| 550.0|    3977|cranbourne-east|        0|        House| 4.0|  2.0|      2|
| 540.0|    3977|cranbourne-east|        0|        House| 3.0|  2.0|      2|
| 530.0|    3977|cranbourne-east|        0|        House| 3.0|  1.0|      2|
| 580.0|    3977|cranbourne-east|        0|        House| 3.0|  2.0|      2|
| 525.0|    3977|cranbourne-east|        0|        House| 3.0|  2.0|      2|
| 525.0|    3977|cranbourne-east|        0|        House| 3.0|  2.0|      2|
+------+--------+---------------+---------+-------------+----+-----+-------+
only showing top 20 rows

In [55]:
# spec.withColumn(
#     'cost_text',
#     F.split(F.col('cost_text'), " ").getItem(0)
# )

df

+-----+--------+--------------+---------+--------------------+----+-----+-------+
| cost|postcode|        suburb|furnished|       property_type|beds|baths|parking|
+-----+--------+--------------+---------+--------------------+----+-----+-------+
|520.0|    3029|     truganina|        0|               House| 3.0|  1.0|      1|
|480.0|    3500|       mildura|        0|               House| 3.0|  1.0|      2|
|500.0|    3810|      pakenham|        0|               House| 3.0|  2.0|      1|
|480.0|    3216|       belmont|        0|               House| 3.0|  1.0|      2|
|530.0|    3030|    point-cook|        0|           Townhouse| 3.0|  2.0|      2|
|650.0|    3550| north-bendigo|        1|               House| 3.0|  2.0|      1|
|490.0|    3335|thornhill-park|        0|               House| 4.0|  2.0|      2|
|560.0|    3029|       tarneit|        0|               House| 4.0|  2.0|      2|
|600.0|    3155|       boronia|        0|               House| 3.0|  1.0|      2|
|500.0|    3216|   waurn-ponds|        0|               House| 3.0|  2.0|      2|
|400.0|    3222|      drysdale|        0|Apartment / Unit ...| 2.0|  1.0|      0|
|480.0|    3338|    weir-views|        0|               House| 4.0|  2.0|      2|
|550.0|    3677|    wangaratta|        0|               House| 3.0|  2.0|      2|
|390.0|    3400|       horsham|        0|               House| 3.0|  2.0|      2|
|625.0|    3135| ringwood-east|        0|               House| 3.0|  1.0|      2|
|630.0|    3810|      pakenham|        0|               House| 4.0|  2.0|      2|
|580.0|    3029|       tarneit|        0|               House| 4.0|  2.0|      2|
|545.0|    3029|       tarneit|        0|               House| 4.0|  2.0|      2|
|600.0|    3030|    point-cook|        0|               House| 4.0|  2.0|      2|
|620.0|    3429|       sunbury|        0|               House| 4.0|  2.0|      2|
+-----+--------+--------------+---------+--------------------+----+-----+-------+
only showing top 20 rows

In [56]:
print("removing {} invalid rows".format(df.count() - updated_df.count()))

removing 156 invalid rows

In [57]:
updated_df.write.mode("overwrite").parquet("../data/curated/valid_df.parquet")

In [58]:
# creating a function for this task
def find_valid(df: SparkSession.DataFrame , output_path: str) -> None:
    """Function that filters for rows that are valid and outputs into a parquet file.
    A row is deemed valid if:
                    - beds : (0,6]
                    - baths : (0,6]
                    - parking : [0, 6]
    The justification for these values is based on looking at the data and deciding that prices with properties which state these amounts of beds, baths and parking are far too cheap
    
    Parameters:
    df - Dataframe which we want to find valid rows for
    output_path - string that brings us to our desired output path

    """
    updated_df = df \
    .filter((F.col('beds') > 0) & (F.col('beds') <= 6)) \
    .filter((F.col('baths') > 0) & (F.col('baths') <= 6)) \
    .filter((F.col('parking') >= 0) & (F.col('parking') <= 6)) \

    updated_df = updated_df.withColumn(
        "contains_price",
        F.col("cost_text").rlike(r"(\$*\d+(?:,\d*)*(?:\.\d*)?)")
    ).filter(F.col("contains_price") == True).drop(F.col("contains_price"))

    print("removing {} invalid rows".format(df.count() - updated_df.count()))
    # write to file
    updated_df.write.mode("overwrite").parquet(output_path)

AttributeError: type object 'SparkSession' has no attribute 'DataFrame'